@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond($breakpoint){  // passess a parameter

    @if $breakpoint == iPhone_SE {
        @media (max-width: 37.5em){ @content }; // apply to any width that is smaller than 600px
    }   
    
}