.section-main{ 
    position: relative;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $primary-color;

    &--bg{
        background: url(../assets/background-revised.png) no-repeat center center fixed;
        background-size: contain;
        background-color: $primary-color;
    
        @include respond(iPhone_SE) { // width < 600
            background: url(../assets/background-revised.png) no-repeat center center fixed;
            background-size: 26.6em 47em;
            
            background-color: $primary-color;
        } 
    }

    &--bg-trivia{
        background: url(../assets/background-trivia.png) no-repeat center center fixed;
        background-size: contain;
        background-color: $primary-color;
    
        @include respond(iPhone_SE) { // width < 600
            background: url(../assets/background-trivia.png) no-repeat center center fixed;
            background-size: 26.6em 47em;
            
            background-color: $primary-color;
        } 
    }

    &--purpleOverlay{
        background-color: rgba($secondary-color, .5);
        background-size: contain;
        z-index: 100;
    }

    // &--bg2{
    //     background: url(../assets/mainMenu_bg.png) no-repeat center center fixed;
    //     background-size: contain;
        
    
    //     @include respond(iPhone_SE) { // width < 600
    //         background: url(../assets/mainMenu_bg.png) no-repeat center center fixed;
    //         background-size: 26.6em 47em;
            
    //         background-color: $primary-color;
           
    //     } 
    // }
   
}