.settings {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgba($secondary-color, 0.95);
    background-size: cover;
    // width: 100%;
    // height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 89;
    transition: all .2s;


    &__textBox {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 1em;
        padding: 1rem;
        width: 45vh;
        // height: 10em;
        border: 1rem solid $tertiary-color;
        border-radius: 2em;
        background-color: $secondary-variant;
        font-size: 6vh;
        color: $tertiary-color;
        // margin-bottom: 0.5em;

        // animation: popUpCenter 1s ease backwards;

    }

    &__textVolume {
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 1em;
        // width: 10em;
        // height: 2em;
        border: none;
        font-size: 5vh;
        color: $tertiary-color;
        // margin-bottom: 0.5em;

        // animation: popUpCenter 1s ease backwards;

    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3em;
        // height: 2em;
        border: none;
        font-size: 4vh;
        color: $tertiary-color;

        // animation: popUpCenter 1s ease backwards;

    }

    &__nav {
        display: flex;
        align-content: space-around;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10vh;
        // width: 40em;
        // height: 10em;
    }


}

