<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title> Error Screen </title>
</head>
<body>
    
    <section class="section-header">
        <h1 class="heading-primary"> Everything Is Broken :( </h1>
    </section>


    <main>
        <section class="section-main">
            <a href="/" class="button__link"> Go Back Home </a>
        </section>
    </main>
</body>
</html>