<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script>
        const ROOM_ID = '<%= room.room_id %>'
        const USER_NAME = '<%= user_info.user_name %>'
        const USER_ID = '<%= user_info.user_id %>'
        const AVATAR_NAME = '<%= user_info.avatar_name %>'
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"
        integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='https://cdn.jsdelivr.net/gh/colxi/getEventListeners/src/getEventListeners.min.js'></script>
    
    <title>Love is War</title>
</head>

<body>

    <section class="section-main section-main--bg section-lobbyClient hide">
        
        <img class="icon__btn settings__icon settings__cog" src="assets/menu/settings_icon.png" alt="settings icon">
    </section>

    <section class="settings hide"> </section>

    <section class="overlay overlay--black hide"> </section>


    <section class="section-main section-main--bg section-crushes hide">
        <img class="icon__btn settingsMenu__icon" src="assets/menu/settings_icon.png" alt="settings icon">
    </section>


    <section class="section-main section-main--bg-trivia section-trivia hide">
        <span class="timer timer__trivia"></span>

        <img class="icon__btn settingsMenu__icon" src="assets/menu/settings_icon.png" alt="settings icon">
    </section>

    <section class="section-main section-main--bg section-lounge hide">

        <img class="icon__btn settingsMenu__icon" src="assets/menu/settings_icon.png" alt="settings icon">
    </section>

    <section class="section-main section-main--bg section-victory hide">

        <img class="icon__btn settingsMenu__icon" src="assets/menu/settings_icon.png" alt="settings icon">
    </section>


</body>
<script src="../../client/settings.js" defer></script>
<script src="../../client/lobbyClient.js" defer></script>
<script src="../../client/exitMenu.js" defer></script>
<script src="../../client/crushes.js" defer></script>
<script src="../../client/sidebar_leaderboard.js" defer></script>
<script src="../../client/triviaClient.js" defer></script>
<script src="../../client/loungeClient.js" defer></script>
<script src="../../client/victory.js" defer></script>

</html>