<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID = '<%= room.room_id %>'
        const USER_NAME = '<%= user_info.user_name %>'
        const USER_ID = '<%= user_info.user_id %>'
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://kit.fontawesome.com/ddb639785c.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Love is War</title>
</head>

<body>

    <section class="section-main section-main--bg section-lobbyClient hide"> </section>

    <section class="exitMenu hide"> &nbsp; </section>

    <section class="overlay overlay--black hide"> &nbsp; </section>


    <section class="section-main section-main--bg section-crushes hide"> &nbsp; </section>


    <section class="section-main section-main--bg-trivia section-trivia hide">
        <h1 class="heading-primary trivia__scoreText"> Your Score: 0 </h1>

        <span class="timer timer__trivia"></span>

        <img class="icon__btn exitMenu__icon" src="assets/menu/inGameExit_icon.png" alt="inGameExit_icon">
    </section>


    <section class="section-main section-main--bg section-victory hide"> &nbsp; </section>


</body>
<script src="../../client/lobbyClient.js" defer></script>
<script src="../../client/exitMenu.js" defer></script>
<script src="../../client/crushes.js" defer></script>
<script src="../../client/triviaClient.js" defer></script>
<script src="../../client/wordScramble.js" defer></script>
<script src="../../client/victory.js" defer></script>

</html>