<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Love is War</title>
</head>

<body>

    <section class="section-header">
        <h1 class="heading-primary"> Leaderboard </h1>
    </section>
    <main>

        <div>
            <table>
                <thead>
                    <tr>
                        <th> User </th>
                        <th> Score </th>
                    </tr>
                </thead>

                <% for (let i=0; i < all_users.length; i++) { %>
                    <tr>
                        <td>
                            <% if (all_users[i]) { %>
                                <%= all_users[i].user_name %>
                                    <% } %>
                        </td>
                        <td>
                            <% if (all_users[i]) { %>
                                <%= all_users[i].total_points %>
                                    <% } %>
                        </td>
                    </tr>
                    <% } %>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    Top Ten Users
                                </td>
                            </tr>
                        </tfoot>
            </table>
        </div>
    </main>
        <section class=""> <!-- temporary empty class name so it does not get affected-->
            <a href="/mainmenu" class="link"> Back to Main Menu </a>
        </section>

    
</body>

</html>