<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="main.css">
    <title> Lobby </title>
</head>
<body>
    
    <section class="section-header">
        <h1 class="heading-primary"> TRIVIA GAME </h1>
    </section>


    <main>
        <section class="section-players">
           
        </section>


        <section class="section-main">
            <a href="/trivia/?newGame=0" class="link"> Play Game </a>
        </section>
        <section class="section-main">
            <a href="/leaderboard" class="link"> Leaderboard </a>
        </section>
        <section class="section-main">
            <a href="/logout" class="link"> Logout </a>
        </section>
    </main>
</body>
<script src="./socket.js"></script>
</html>