<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"
        integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Love is War</title>
</head>

<body>

    <section class="section-main section-main--bg">

        <section class="section-introductory"></section>

        <section class="section-lobbies hide">

            <!-- <img class="icon__btn lobby-list__backButton" src="assets/backButton.png" alt="backButtonIcon"> -->

            <a href="/mainmenu" class="btn btn__back btn--darkPurple"> <span>&#8618;</span>	</a>
            <button type="button" class="btn lobby-list__refreshBtn btn--darkPurple">&#8634;</button>

            <div class="lobby-list__leftContainer">

                <div class="lobby-list__createContainer">

                    <h2 class="heading-secondary createLobby__header">
                        Create Lobby
                    </h2>

                    <form method="POST" action="/lobby/createLobby/" class="createLobby__form">
                        <input type="text"  name="room_name" placeholder='Enter lobby name' class="createLobby__input" />
                        <button type="submit" class="btn lobby-list__btn btn--darkPurple lobby-create__btn" id="newGameButton">Create New Game</button>
                    </form>

                </div>

                <div class="lobby-list__joinContainer">

                    <h3 class="heading-tertiary joinLobby__header">
                    Enter a lobby code:
                    </h3>

                    <form method="POST" action="/lobby/joinLobby/" class="joinLobby__form">
                        <input type="text" name="room_code"  placeholder='Enter code' class="joinLobby__input" />
                        <button type="submit" class="btn lobby-list__btn  btn--darkPurple" id="joinGameButton">Join Game</button>
                    </form>

                </div>

            </div>


            <div class="lobby-list__rightContainer">

                <h1 class="heading-primary lobby-list__header">
                    LOBBY LIST
                </h1>
                
                <div class="lobby-list__listContainer"> 
                <!-- * ^^ where it will list all the available rooms -->

                    <div class="lobby-list__list"></div>

                    <!-- <div class="lobby-list__nav">
                        <div class="lobby-list__nav--top">
                            <img src="assets/arrows/arrowDown_green.png" alt="green-arrow_up" class="green-arrow-up">
                        </div>

                        <div class="lobby-list__nav--bottom">
                            <img src="assets/arrows/arrowDown_green.png" alt="green-arrow_down" class="green-arrow-down">
                        </div>
                    </div> -->
        
                </div>

            </div>

        </section>


    </section>

    <section class="settingsMenu hide"> </section>

</body>
<script src="../../client/settings.js" defer></script>
<script src="../../client/introductory.js" defer></script>
<script src="../../client/lobbyListClient.js" defer></script>

</html>
