<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <title> Lobby </title>
    <style>
        #lobbyList {
            display: none
        }
    </style>
</head>
<body>
    
    <section class="section-header">
        <h1 class="heading-primary"> Lobbby List </h1>
    </section>


    <main>
        <section class="section-players">
           
        </section>


        
        <div id="lobbyList" class="h-100">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <h1>Trivia Game</h1>
                <button type="submit" class="btn btn-success" id="newGameButton">Create New Game</button>

                <div>OR</div>
                <div class="form-group">
                    <input type="text" placeholder="Enter Game Code" id="lobbyCodeInput" />
                </div>
                <button type="submit" class="btn btn-success" id="joinGameButton">Join Game</button>
            </div>
        </div>


        <div id="lobbyScreen" class="h-100">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">

                <h1>Your lobby code is: <span id="lobbyCodeDisplay"></span></h1>
                
                <button type="submit" class="btn btn-success" id="startGameButton">Start Game</button>
                
                <section class="section-main">
                    <a href="/trivia/?newGame=0" class="link"> Play Game </a>
                </section>
                <section class="section-main"></section>
                <a href="/mainmenu/" class="link"> Go to Main Menu</a>
            </section>

            </div>
        </div>
    </main>
    <script src="./socket.js"></script>
</body>
</html>