<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title> Main Menu </title>
</head>
<body>
    
    <section class="section-header">
        <h1 class="heading-primary"> TRIVIA GAME </h1>
    </section>


    <main>
        <section class="section-main">
            <a href="/lobby" class="link"> Play Game </a>
        </section>
        <section class="section-main">
            <a href="/leaderboard" class="link"> Leaderboard </a>
        </section>
        <section class="section-main">
            <a href="/auth/logout" class="link"> Logout </a>
        </section>
    </main>
    
</body>
</html>