<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <script>
        if (!user_info) {
            var MUSIC_STATUS = {
                mute: false,
                volume: 8,
            }
            var SFX_STATUS = {
                mute: false,
                volume: 8,
            }
        } else {
            var MUSIC_STATUS = user_info.music_status
            var SFX_STATUS = user_info.sfx_status
        }
    </script>
    <title>Love is War</title>
</head>

<body>

    <section class="section-header">
        <h1 class="heading-primary">Love is War!</h1>

    </section>


    <main>
        <section class="auth-form">
            <h1 class="heading-primary">Sign Up</h1>

            <div class="form__page">
                <form method="POST" action="" style="display: flex;flex-direction: column; align-items: center; width: 100%;">
                    <div style="display: flex;flex-direction: column;">
                        <label for="username" class="signup__username"> User Name </label>
                        <input type="text" id="username" name="name" required style="color: black">
                    </div>
                    <!-- <div style="display: flex; flex-direction: column;">
                        <label for="email" class="signup__email"> Email </label>
                        <input type="text" id="username" name="email" required style="color: black">
                    </div> -->
                    <div style="display: flex; flex-direction: column;">
                        <label for="password" class="signup__password"> Password </label>
                        <input type="password" id="password" name="password" required style="color: black">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <button class="submit" class="button__link"
                            style="background-color: #D7FF60; border: none; border-radius: 5px; color: #333; /* Dark grey */ padding: 15px 32px">
                            Sign Up </button>
                    </div>
                </form>
            </div>
        </section>
    </main>


</body>

</html>