<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"
        integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Love is War</title>
</head>

<body>

    <section class="settings hide"> </section>

    <section class="section-header">
        <img class="icon__btn settings__icon settings__cog" src="assets/menu/settings_icon.png" alt="settings icon">

    </section>


    <main>
        <section class="section-main section-main--bg">


            <form method="POST" action="" class="auth-form__container">

                <h2 class="heading-secondary auth-form__header">Sign Up</h1>



                    <div class="auth-form__input">
                        <label for="username" class="signup__username auth-form__text">Username</label>
                        <input type="text" id="username" name="name" maxlength="8" required="" style="color:black">
                    </div>
                    
                    <div class="auth-form__input">
                        <label for="password" class="signup__password auth-form__text">Password</label>
                        <input type="password" id="password" name="password" required="" style="color:black">
                    </div>

                    <button class="btn auth-form__button btn--green">Sign Up</button>

            </form>

        </section>


    </main>


</body>
<script src="../../client/settings.js" defer></script>

</html>