<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css">
    <title>Sign Up</title>
</head>
<body>
    
    <section class="section-header">
        <h1 class="heading-primary">Welcome to True Love! </h1>

    </section>


    <main>
        <section class="section-main">
            <h1 class="heading-primary">Sign-Up</h1>

            <div class="form__page">
                <form method="POST" action="">
                    <label for="username" class="signup__username">User Name</label>
                    <input type="text" id="username" name="userName">

                    <label for="email" class="signup__email">Email</label>
                    <input type="text" id="username" name="email">

                    <label for="password" class="signup__password">Password</label>
                    <input type="text" id="password" name="password">

                    <button class="submit" class="button__link"> Sign Up </button>
                </form>
            </div>
        </section>
    </main>


</body>
</html>