<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"
        integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Love is War</title>
</head>

<body>

    <section class="section-header">
        <h1 class="heading-primary">Love is War!</h1>
        <img class="icon__btn settings__icon settings__cog" src="assets/menu/settings_icon.png" alt="settings icon">

    </section>


    <main>
        <section class="auth-form">
            <h1 class="heading-primary">Sign Up</h1>

            <div class="form__page">
                <form method="POST" action="" style="display: flex;flex-direction: column; align-items: center; width: 100%;">
                    <div style="display: flex;flex-direction: column;">
                        <label for="username" class="signup__username"> User Name </label>
                        <input type="text" id="username" name="name" maxlength="8" required style="color: black">
                    </div>
                    <!-- <div style="display: flex; flex-direction: column;">
                        <label for="email" class="signup__email"> Email </label>
                        <input type="text" id="username" name="email" required style="color: black">
                    </div> -->
                    <div style="display: flex; flex-direction: column;">
                        <label for="password" class="signup__password"> Password </label>
                        <input type="password" id="password" name="password" required style="color: black">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <button class="submit" class="button__link"
                            style="background-color: #D7FF60; border: none; border-radius: 5px; color: #333; /* Dark grey */ padding: 15px 32px; margin-top: 2rem;">
                            Signup </button>
                    </div>
                </form>
            </div>
        </section>

        <section class="settings hide"> </section>
    </main>


</body>
<script src="../../client/settings.js" defer></script>

</html>