<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Trivia Phase</title>
</head>

<body>
    

        <section class="section-main section-main--bg1">
            <h1 class="heading-primary trivia__scoreText"> Your Score: 0 </h1>

            <span class="timer--darkPurple"></span>
            
            <a href="/mainmenu/" class="inGameExit__icon"> <img class="icon__btn" src="assets/menu/inGameExit_icon.png" alt="inGameExit_icon"></a>
            <!-- <img class="icon__btn inGameExit__icon" src="assets/menu/inGameExit_icon.png" alt="inGameExit_icon"> -->
        </section>
       
</body>
<script src="../../client/triviaClient.js"></script>

</html>