<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"
        integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Love is War</title>
</head>

<body>

    <section class="section-main section-main--bg">


        <img class="spaceShip_gametitle" src="assets/others/spaceship_gameTitle.png">


        <div class="auth__content">
            <% if (!user_info) { %>

                <a href="auth/login" class="btn btn__auth btn--green"> LOG IN </a>
                <a href="auth/signup" class="btn btn__auth btn--green"> SIGN UP </a>

                <% } else if (user_info) { %>

                    <a href="mainmenu" class="btn btn__auth btn--green"> TO MAIN MENU </a>
                    <a href="auth/logout" class="btn btn__auth btn--green"> LOGOUT </a>
                    <% } %>
        </div>
    </section>

    <section class="settingsMenu hide"> </section>


</body>
<script src="../../client/settings.js" defer></script>
<script src="../../client/welcome.js" defer></script>

</html>