<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body class="welcomeScreen">

    <img class="welcomeScreen__bgImg" src="assets/welcomeScreen_bg.png">

    <h3 class="heading-tertiary"> We recommend to play with sounds on &9834;</h3>
    


    <section class="section-main--welcomeScreen">

        <h1 class="heading-primary">
            <span class="heading-primary--subTitle">Welcome to </span>
            <span class="heading-primary--gameTitle"> Love is War </span>
        </h1>

        <div class="auth__content">
            <% if (!user) { %>
                <a href="login" class="btn btn--green btn--green--auth"> Log In </a>
                <br>
                <br>
                <a href="signup" class="btn btn--green btn--green--auth"> Sign Up </a>
                <% } else if (user) { %>
                    <a href="lobby" class="btn btn--green btn--green--auth"> Go to Game Lobby </a>
                    <br>
                    <br>
                    <a href="logout" class="btn btn--green btn--green--auth"> Logout </a>
                <% } %>
        </div>
    </section>


</body>

</html>