<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
</head>

<body>

    <section class="section-header">
        <h1 class="heading-primary">Welcome to True Love! </h1>

        <% if (!user) { %>
            <a href="login" class="button__link"> Log In </a>
            <br>
            <br>
            <a href="signup" class="button__link"> Sign Up </a>
            <% } else if (user) { %>
                <a href="lobby" class="button__link"> Got to Game Lobby </a>
                <br>
                <br>
                <a href="logout" class="button__link"> Logout </a>
                <% } %>

    </section>
</body>

</html>