<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

    <section class="section-main section-main--bg1">

   
    <img class="spaceShip_gametitle" src="assets/spaceship_gameTitle.png">


        <div class="auth__content">
            <% if (!user_info) { %>
                <a href="auth/login" class="btn btn__auth btn--green"> LOG IN </a>
                <!-- <a href="auth/signup" class="btn btn__auth btn--green"> SIGN UP </a> -->
                <% } else if (user_info) { %>
                    <a href="mainmenu" class="btn btn__auth btn--green"> GO TO MAIN MENU </a>
                    <a href="auth/logout" class="btn btn__auth btn--green"> LOGOUT </a>
                <% } %>
        </div>
    </section>


</body>

</html>