.btn{
    // DESKTOP VERSION

    &, 
    &:link, 
    &:visited{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 3rem;
        transition: all .2s, left;
        filter: drop-shadow(0px 3px 4px $primary-color);
        // box-shadow: 0 .1em 0 rgba($color-black, .2);      
    }


    &:hover{ // note: mobile devices do not have a hover function- only works on desktop
        transform: translateY(-3px);
        // box-shadow: 0 .3rem 0 rgba($color-black, .2);
        filter: drop-shadow(0px 5px 4px $primary-color);        
    }

    &:active{
        transform: translateY(1px);
        // box-shadow: 0 .20rem 0 rgba($color-black, .2);
        filter: drop-shadow(0px 5px 4px $primary-color);
    }
    

    &--green{
        color: $primary-color;
        background-color: $tertiary-color;
        border: 0.6rem solid $secondary-variant;

    }

    &--darkPurple{
        background-color: $primary-color;
        color: $tertiary-color;
        border: 0.4rem solid $secondary-variant;
        z-index: 40;

        &:hover{
            text-shadow: 0 0 20px $tertiary-color;
        }
        
    }

    &__menu{
        // width: 15em;
        //width: 40vh;
        // height: 2.5em;
        padding: 2vh 15vh;
        font-size: 4vh;

        @include respond(iPhone_SE){
            font-size: 3vh;
            padding: 3vh 10vh;
            height: 9vh;
        }

        &--animated{
            animation: popUpCenter 1s ease 12s backwards;
        }
    }

    &__auth{
        // width: 15em;
        //width: 40vh;
        // height: 3em;
        font-size: 3vh;
        animation: popUpCenter 1s ease 3s backwards;
        padding: 2vh 15vh;
    }

    &__back{
       

        position: absolute;
        top: 3vh
        // padding-left: 3px;
        // top: 2%;
        // left: 13%;
        // width: 1.3em;
        // height: 1.3em;
        // border-radius: 2em;
        // border-width: 8px;
        // font-size: 65px;
        // z-index: 80;

        & span{
            transform: rotateZ(180deg);
            color: $tertiary-color;
            padding-top: 12px;
        }
      
    }

    &__refresh{
        
        position: absolute;
        padding-bottom: 13px;
        padding-left: 3px;
        right: 13%;
        top: 2%;
        width: 1.2em;
        height: 1.2em;
        border-radius: 2em;
        border-width: 8px;
        font-size: 70px;
        z-index: 80;
        
    }

    &__settings{
        top: 2vh;
        position: absolute;
        z-index: 199;
    }

}

.icon__btn{

    transition: all .2s;
    height: 11vh;
    // border-radius: 3rem;
    // box-shadow: 0 .3em 0 rgba($color-black, .2);
    filter: drop-shadow(0px 4px 4px $primary-color);

    &__back{
        position: absolute;
        left: 2vh;
        top: 2vh;
        z-index: 190;
    }

    &__refresh{
        position: absolute;
        right: 2vh;
        top: 2vh;
        z-index: 190;
    }

    @include respond(iPhone_SE){
        height: 8vh
    }
    
    &--animated{
        animation: popUpCenter 1s ease 12s backwards; 
    }

    &:hover{ // note: mobile devices do not have a hover function- only works on desktop
        transform: translateY(-3px);
        filter: drop-shadow(0px 7px 4px $primary-color);
        // box-shadow: 0 .5em 0 rgba($color-black, .2);        
    }

    &:active{
        transform: translateY(1px);
        filter: drop-shadow(0px 4px 4px $primary-color);
        // box-shadow: 0 .3em 0 rgba($color-black, .2);
    }
    
}


.btn-success{
    color: black;
}

