.btn{
    // DESKTOP VERSION

    &, 
    &:link, 
    &:visited{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 2em;
        transition: all .2s;
        box-shadow: 0 .1em 0 rgba($color-black, .2);      
    }


    &:hover{ // note: mobile devices do not have a hover function- only works on desktop
        transform: translateY(-3px);
        box-shadow: 0 .2em 0 rgba($color-black, .2);        
    }

    &:active{
        transform: translateY(1px);
        box-shadow: 0 .15em 0 rgba($color-black, .2);
    }
    

    &--green{
        color: $primary-color;
        background-color: $tertiary-color;
        border: 10px solid $secondary-variant;

    }

    &--darkPurple{
        background-color: $primary-color;
        color: $tertiary-color;
        border: 5px solid $secondary-variant;
        z-index: 50;

        &:hover{
            text-shadow: 0 0 20px $tertiary-color;
        }
        
    }

    &__menu{
        width: 15em;
        height: 2.5em;

        &--animated{
            animation: popUpCenter 1s ease 12s backwards;
        }
    }

    &__auth{
        width: 15em;
        height: 3em;
        font-size: 25px;
        animation: popUpCenter 1s ease 3s backwards;
    }

}

.icon__btn{

    transition: all .2s;
    border-radius: 45px;
    box-shadow: 0 .3em 0 rgba($color-black, .2);
    
    &--animated{
        animation: popUpCenter 1s ease 12s backwards; 
    }

    &:hover{ // note: mobile devices do not have a hover function- only works on desktop
        transform: translateY(-3px);
        box-shadow: 0 .5em 0 rgba($color-black, .2);        
    }

    &:active{
        transform: translateY(1px);
        box-shadow: 0 .3em 0 rgba($color-black, .2);
    }
    
}


.btn-success{
    color: black;
}

