.section-crushes{
    display: flex;
}

.carousel{
    position: relative;
    height: 100vh;
    width: 100vw;
    transition: all ;

    &--moveRight{
       animation: slideFromLeft 1s ease backwards;

       @include respond(iPhone_SE){
           animation: none;
       }
    }

    &--moveBack{
        animation: slideFromRight 1s ease backwards;
        
        @include respond(iPhone_SE){
            animation: none;
        }
    }


    &__btn{
        position: absolute;
        top: 50%;
        transition: all .2s;
        transform: translateY(-50px);

        @include respond(iPhone_SE){
            height: 10vh;
        }

        &--left{
            top: 50%;
            left: 20%;
            filter: drop-shadow(0px 4px 4px $primary-color);
            object-position: contain;

            @include respond(iPhone_SE){
                left: 12%;
            }
            
            
            &:hover{
                transform: translateY(-54px)
            }

            &:active{
                transform: translateY(-52px)
            }


            &-move{
                top: 50%;

                &:hover{
                    transform: translateY(-54px)
                }
    
                &:active{
                    transform: translateY(-52px)
                }

            }

        }

        &--right{
            top: 50%;
            right: 20%;
            filter: drop-shadow(0px 4px 4px $primary-color);

            @include respond(iPhone_SE){
                right: 12%;
            }

            &:hover{
                transform: translateY(-54px)
            }

            &:active{
                transform: translateY(-52px)
            }

            &-move{
                top: 50%;
                right: 10%;
                transition: all;

                &:hover{
                    transform: translateY(-54px)
                }
    
                &:active{
                    transform: translateY(-52px)
                }

            }

        }
    }

    &__slideContainer{
        
         width: 90%;
         height: 100%;

    }

    &__slide{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 85%;
        object-fit: contain;
        filter: drop-shadow(0px 0px 6px $primary-color);

        @include respond(iPhone_SE){
            height: 78%;
        }

        &--original{
            transform: translate(-50%, -35%);
        }

        &--animated{
            animation: fadingIn 1s ease;
        }

        &--move{
            transform: translate(-55%, -35%);
        }
    }

    &__slideText{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        bottom: -14rem;
        top: 3vw;
        left: 40vw;
        padding: .5vh 1vh;
        border-radius: 4vh;
        margin-bottom: 1rem;
        border: 4px solid $tertiary-color;
        background-color: $primary-color;
        color: $tertiary-color;
        text-align: center;
        font-size: 3.5vh;
        transition: animation 0.2s;

        @include respond(iPhone_SE){
            left: 25vw;
            font-size: 2vh;
        }
       
        &--original{
            width: 20vw;

            @include respond(iPhone_SE){
                margin-left: 9vw;
                width: 30vw;
            }
        }

        &--move{
            width: 50%;
            left: 20%;

            @include respond(iPhone_SE){
                margin-left: 9vw;
                width: 30vw;
            }
        }

        &--animated{
            animation: fadingIn 1s ease;
        }

        &--idle{
            animation: scaleUpDown 1s ease infinite;
        }
    
        &--open{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 50vw;

            @include respond(iPhone_SE){
                margin-left: 0;
            }
        }
    }

    &__voteButton{
        position: absolute;
        bottom: 15%;
        width: 10em;
        height: 3em;
        font-size: 25px;
        font-weight: bold;
        transition: all;

        &--original{
            left: 40%;

            @include respond(iPhone_SE){
                left: 24%;
            }
  
        }

        &--move{
            left: 20%;
        }
        
    }
    
}

.crush{

    &__dialogueContainer{
        position: absolute;
        display: flex;
        bottom: 20%;
        perspective: 5em;
        transform-origin: top left;
        animation: popUpCenter 1s ease 1s backwards;

        &--victory{
            width: 30em;
            height: 12em;
            left: 50%
        }

        &--moveRight{
            width: 25em;
            height: 10em;
            left: 40%;
        }

        &--moveBack{
            width: 25em;
            height: 10em;
            left: 50%;
        }

    }
    

    &__dialogue{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transform: translateX(-44%) rotate(-2deg) rotateY(2deg);
        background-color: #19083c;
        border-radius: 10px;
        color: #19083c;
        padding-left: 1.5em;
        padding-bottom: 0.5em;
        letter-spacing: 2px;
        font-size: 30px;

        @include respond(iPhone_SE){
            width: 70%;
            font-size: 3.5vh;
        }

        &::before, &::after{
            position: absolute;
            content: '';
            z-index: -1;
        }

        &::before{
            border: solid 0 transparent;
            border-right: solid 3.5em $tertiary-color;
            border-bottom: solid 1.3em $primary-color;
            top: 0.25em;
            right: 1.3em;
            width: 0;
            height: 1em;
            transform: rotate(40deg) skewX(75deg);
        }

        &::after{
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: inherit;
            transform: rotate(2deg) translate(0.5em, -0.3em) scale(1.02);
            background: $tertiary-color;
        }

    }

    &__triviaContainer{
        display: flex;
        flex-direction: column;
        place-self: center;
        width: 100%;
        height: 7vh;
        transform: scaleX(.8);

        &--top{
            display: flex;
            place-content: center;
            width: 100%;
            height: 100%;
            color: $tertiary-color;
            font-size: 3.5vw;
        }

        &--bottom{
            display: flex;
            place-content: center;
            width: 100%;
            height: 100%;
            color: $tertiary-color;
            font-size: 2.5vw;
        }
    }



}
