
.section-sidebar{

    &--close{

        position: absolute;
        top: 0;
        width: 30%;
        height: 100%;
        overflow-x: hidden;

    }

    &--open{

        top: 0;
        width: 50%;
        height: 100%;
        overflow-x: hidden;

        &-votingLounge{
            width: 100%;
        }

        &-trivia{
            width: 50%;
        }

        &-victory{
            position: absolute;
            width: 100%;
            z-index: 50;
        }
        
    }
    
}

.sidebar{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    width: 81vw;
    height: 100vh;
    transition: all .5s;

    &__overlay{
       
        position: absolute;
        width: 83%;
        height: 100%;
        z-index: 20;
        background-color: rgba($secondary-color, 0.5);
        animation: fadingIn 1s ease backwards;
    
    }

    &__container{

        display: flex;
        position: relative;
        flex-direction: column;
        row-gap: 1rem;
        height: 90vh;
        background-color: $primary-color;
        border: 7px solid $tertiary-color;
        border-radius: 4rem;
        z-index: 50;

        &--close{

            width: 27%;
            padding: 1em 0em 1em 3em;
            transform: translateX(-180%);
            transition: transform .3s linear, width ;

            &:hover{
                transform: translateX(-175%);
            }

        }

        &--open{

            box-shadow: 0px 0px 30px 10px $secondary-color;
            padding: 2em 2em 2em 0;
            width: 66vw;
            animation: slideFromLeft 1s ease;
            // &-trivia{
            //     transform: translateX(5%);
            //     width: 40%;
            // }

            &-leaderboard{
                animation: none;
            }
            
            

        }

    }

    &__header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65vw;
        height: 10vh;
        color: $tertiary-color;
        font-size: 2rem;
        text-transform: uppercase;
        
        & i{
            color: $tertiary-color;
            padding-right: 10px;
        }

        &-text{
            color: $tertiary-color;
        }

    }



    &__players{
        @include disable-scrollbar;
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;

        &--open{
            width: 78vw;
            height: 78vh;
        }

        &--close{
            width: 250%;
        }

    }

}

.player{

    &__container{
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: row;
        column-gap: 1vw;
        height: 6vh;

        &--moveUp{
            z-index: 100;
            animation: moveUp 1s ease backwards
        }

        &--moveDown{
            z-index: 100;
            animation: moveDown 1s ease backwards
        }
        
    }

    &__position{
        font-size: 1.5rem;
        color: $tertiary-color;
        width: 3vw;
        margin-left: 0.5em;
        z-index: 1;

    }

    &__avatarContainer{

        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid $secondary-variant;
        border-radius: 4rem;
        background-color: $secondary-variant;
        z-index: 1;

        &--open{
            width: 4vh;
            height: 4vh;
            margin-left: 0.5vw;

           
        }

        &--close{
            width: 35%;
            height: 85%;
        }

        &--green{
            border: 4px solid $tertiary-color;
        }

    }

    &__avatar{
        width: 4vh;
        height: 4vh;
        object-fit: contain;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 52vw;

        &-match{
            z-index: 1;
            width: 18vw;
        }
        
    }

    &__youContainer{

        position: absolute;
        height: 6vh;
        z-index: -30;


        &--open{

            width: 68vw;
            left: -2vw;

            &-match{
                width: 27vw;
                z-index: 0;
                left: 0;
            }

        }

        &--close{
            width: 4em;
            left: 1em;
            animation: fadeFromLeft .5s backwards;
        }
    }

    &__you{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 3em;
        border: 3px solid $tertiary-color;
        border-right: transparent;
        background-color:black;
        color: $tertiary-color;
        letter-spacing: 2px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        &::before{
            content:"";
            position: absolute;
            width: 100%;
            height: 0;
            left: 3em;
            border-top: 21px solid $tertiary-color;
            border-bottom: 25px solid $tertiary-color; 
            border-right: 24px solid transparent; 
            border-left: 10px solid transparent;
            z-index: -32;
        }

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            top: 0;
            left: 2.5em;
            border-top: 20px solid black;
            border-bottom: 19.5px solid black; 
            border-right: 22px solid transparent; 
            border-left: 10px solid transparent;
            z-index: -31;
            
        }

    }

    &__youText{

        color: $tertiary-color;

    }

    &__subCategory-container{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1vw;
        margin: 0 1vw;

        &--leaderboard{
            width: 30vw;
            grid-template-columns: 1fr 1fr;
        }

    }

}

.info{

    &__name{
        text-align: left;
        letter-spacing: 2px;
        color: $secondary-variant;
        width: 5vw;


        &--green{
            color: $tertiary-color;
        }
    }

    &__note{
        text-align: right;
        letter-spacing: 2px;
        color: $secondary-variant;

        &--green{
            color: $tertiary-color;
        }
    }

    &__category-details{
        display: flex;
        width: 15vw;
        border: 2px solid $secondary-color;
        border-radius: 2rem;
        place-self: center;
        padding: .2rem;

        &--left{
            width: 20vw;
            color: $tertiary-color;
            display: flex;
            place-content: center;
            font-size: 2vh;
        }

        &--right{
            width: 20vw;
            color: $tertiary-color;
            display: flex;
            place-content: center;
            font-size: 2vh;
        }
    }

}

.leaderboard{

    &__backBtn{
        left: 10vw;
    }

    &__refreshBtn{
        right: 10vw;
    }

    &__categories-container{
        display: flex;
        justify-content: center;
        column-gap: 1vw;
        width: 67vw;
        height: 2vw;
    }

    &__category-btn{
        font-size: 2vh;
        background-color: $tertiary-color;
        color: $primary-color;
        padding: 1vh;
    }

    &__currentPlayer-container{
        width: 78vw;
        overflow-x: hidden;
        height: 8vh;
    }
}