.timer{
    color: $tertiary-color;
    z-index: 40;

    &__trivia{
        font-size: 80px;
        position: absolute;
        bottom: 10vh;
        right: 15vh;
    }

    &__startTrivia{
        font-size: 30px;
    }

}