.trivia{

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__scoreText{

        display: flex;
        width: 17vw;
        height: 12vh;
        justify-content: center;
        align-items: center;
        margin-top: 4vw;
        margin-left: 41vw;
        border-radius: 4vh;
        font-size: 3vh;
        background-color: $primary-color;
        border: 1vh solid $tertiary-color;

    }

    &__question{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh;
        width: 53vw;
        height: 20vh;
        border: 1.5vh solid $tertiary-color;
        border-radius: 5vh;
        background-color: $secondary-variant;
        font-size: 2.5vh;
        color: $tertiary-color;
        margin-bottom: 3vh;
        text-align: center;

        &--animated{
            animation: popUpCenter 1s ease backwards;
        }
    }

    &__answerContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
        width: 90vh;
        height: 9vh;

        &--animated{
            animation: popUpCenter .8s ease backwards;
        }

    }

    &__btn{
        width: 45vw;
        height: 8vh;
        padding: 2vh;
        font-size: 2.5vh;
    
    }
}


.cross {
    @include absCenter;
    height: 100vh; /* this can be anything */
    width: 100vw;  /* ...but maintain 1:1 aspect ratio */
    object-fit: contain;
    z-index: 100;
}

