*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    // every real, and pseudo elements will now have box-sizing inherited from the parent's box-sizing
}

html{
    @include respond(iPhone_SE) { // width < 600
       
    } 
}

// *{
//     cursor: none;
// }

*{
    cursor: url(../assets/pointer/alienPointer.png), auto;
    // z-index: 300;
    // position: absolute;

    &:active{
        cursor: url(../assets/pointer/alienPointer_click.png), auto;
    }
}

// .pointer{
//     z-index: 300;
//     position: absolute;
//     pointer-events: none;

// }

body{ 
    box-sizing: border-box;

    @include respond(iPhone_SE) { // width < 600
       height: 100vh;
       width: 100vw;
       overflow: hidden;
    } 

}




    
