*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    // every real, and pseudo elements will now have box-sizing inherited from the parent's box-sizing
}

html{
    @include respond(iPhone_SE) { // width < 600
       
    } 
}

body{ 
    box-sizing: border-box;

    @include respond(iPhone_SE) { // width < 600
       height: 100vh;
    } 

}




    
