.section-introductory{
    position: relative;
    height: 100vh;
}

.introductory{

    &__storyContainer{

        @include absCenter;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 45vh;

        &--animated{
            animation: fadingIn 1.5s ease;
        }

        @include respond(iPhone_SE){
            width: 70vw;
            height: 50vh;
        }

    }

    &__storySituation{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // width: 100%;
        height: 60vh;
        background-color: $secondary-color;
        border: .5em solid $tertiary-color;
        border-radius: 2em;
        font-size: 4vh;
        letter-spacing: 2px;
        color: $tertiary-color;
        padding: 1vh 1vh;
        margin-bottom: 2vh;
        text-align: center;
        filter: drop-shadow(0px 4px 8px #19083c);

        @include respond(iPhone_SE){
            font-size: 3vh;
        }


    }

    &__button{
        
        // width: 30%;
        height: 20vh;
        font-size: 4vh;
        padding: .5vh 6vh;
        text-transform: uppercase;
        text-align: center;

        @include respond(iPhone_SE){
            font-size: 3vh;
            padding: 0.5vh 5vh;
        }
    }

}