.lobby{


    &__container{
        background-color: rgba($secondary-variant, 0.5);
        display: flex;
    }

    &__backButton{

        position: absolute;
        padding-left: 3px;
        top: 2%;
        left: 13%;
        width: 1.3em;
        height: 1.3em;
        border-radius: 2em;
        border-width: 8px;
        font-size: 65px;
        z-index: 100;

        & span{
            transform: rotateZ(180deg);
            color: $tertiary-color;
            padding-top: 12px;
        }

    }

    &__leftContainer{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 100vh;

    }

    &__code{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
        width: 20vw;
        height: 20vh;
        border: 15px solid $secondary-variant;
        border-radius: 5em;
        background-color: $primary-color;
        color: $tertiary-color;
        font-size: 20px;
        margin-top: 5em;
        margin-bottom: 7em;

        & span{
            font-size: 30px;
            color: $tertiary-color;
        }

    }

    &__startBtn-Header{
        color: $tertiary-color;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    &__startBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16vw;
        height: 30vh;
        border: 15px solid $secondary-variant;
        border-radius: 40em;
        background-color: $tertiary-color;
        font-size: 100px;

        & i{
            color: $secondary-variant;
        }

    }

    &__rightContainer{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2em;
        width: 60vw;
        height: 100vh;

    }

    &__header{
        
        font-size: 40px;
        letter-spacing: 2px;
        text-shadow: 0 0 5px $tertiary-color;
        height: 20px;

    }

    &__userListContainer{
        @include scroll;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 95%;
        height: 80%;
        overflow: auto;

    }


}

.user{

    &__container{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 13%;
        column-gap: 1em;
        
    }

    &__avatarContainer{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 16%;
        height: 100%;
        border: 10px solid $primary-color;
        border-radius: 50%;
        background-color: $secondary-variant;

        &--readyGreen{
            border: 10px solid $tertiary-color;
        }

    }

    &__avatar{
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    &__name{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 2em;
    }


}