.section-lobbies {
    background-color: rgba($secondary-variant, 0.5);
    display: flex;

}

.lobby-list {

    &__leftContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2.5em;
        width: 40vw;
        height: 100vh;

    }

    &__rightContainer {

        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 2em;
        width: 60vw;
        height: 100vh;

    }

    &__createContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
        // width: 25vw;
        padding: 2vh;
        height: 30vh;
        border: 15px solid $secondary-variant;
        border-radius: 5em;
        background-color: $tertiary-color;
        color: $primary-color;
        filter: drop-shadow(0px 4px 8px #19083c);

    }

    &__refresh {
        right: 15vh
    }

    &__btn {

        // width: 100%;
        // height: 50%;
        padding: 1vh 1vh;
        font-size: 2vh;
        text-transform: uppercase;
        letter-spacing: 2px;

    }

    &__joinContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
        padding: 2vh;
        height: 30vh;
        border: 15px solid $tertiary-color;
        border-radius: 5em;
        background-color: $secondary-color;
        color: $primary-color;
        filter: drop-shadow(0px 4px 8px #19083c);

    }

    &__header {
        font-size: 6vh;
        letter-spacing: 2px;
        text-shadow: 0 0 10px $tertiary-color;
        margin-left: -55vh;
        margin-bottom: 8vh;
        margin-top: 4vh;
        
        @media screen and (max-width: 690px) {
            font-size: 5vh;
            margin-left: -45vh;
        }
    }

    &__listContainer {

        display: flex;
        column-gap: 10px;
        justify-content: center;
        // width: 95%;
        height: 80%;

    }

    &__list {
        @include scroll;
        display: flex;
        flex-direction: column;
        // width: 100%;
        // height: 100%;
        row-gap: 2vh;


    }

    // &__room {

    //     width: 100%;
    //     max-height: 20%;

    // }

    &__roomBtn {

        width: 50vw;
        // height: 100%;
        font-size: 3vh;
        padding: 1.5vh 2vh;
        justify-content: space-between;

        &--name {
            text-align: left;
            letter-spacing: 2px;
            color: $tertiary-color;
        }

        &--info {
            letter-spacing: 3px;
            text-align: right;
            color: $tertiary-color;

            & i {
                color: $tertiary-color;
            }
        }

    }

}


.createLobby {

    &__header {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 4vh;

        @media screen and (max-width: 690px) {
            font-size: 3vh;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
    }

    &__input {
        padding-left: 4px;
        background-color: $secondary-variant;
        border-radius: 10px;
        height: 4vh;
        border: 2px solid $primary-color;
        color: $tertiary-color;
        letter-spacing: 2px;

        &::placeholder {
            color: $tertiary-color
        }
    }

}

.joinLobby {

    &__header {
        color: $tertiary-color;
        font-size: 3vh;
        font-weight: lighter;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
    }

    &__input {
        padding-left: 4px;
        background-color: $tertiary-color;
        border-radius: 10px;
        height: 4vh;
        border: 2px solid $primary-color;
        color: $primary-color;
        letter-spacing: 2px;

        &::placeholder {
            color: $primary-color
        }

    }



}