.lobby {


    &__container {
        background-color: rgba($secondary-variant, 0.5);
        display: flex;
    }

    &__leftContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 100vh;

        @include respond(iPhone_SE){
            width: 100%;
            height: 100vh;
            padding-top: 10vh;
            justify-content: flex-start;
        }

    }

    &__code {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
        // width: 20vw;
        padding: 4vh 2vh;
        // height: 20vh;
        border: 15px solid $secondary-variant;
        border-radius: 5em;
        background-color: $primary-color;
        color: $tertiary-color;
        font-size: 3vh;
        margin-top: 5vh;
        margin-bottom: 10vh;
        filter: drop-shadow(0px 4px 4px #19083c);

        @include respond(iPhone_SE){
           row-gap: 0;
           padding: 1vh 4vh;
           border: 1vh solid $secondary-variant;
           font-size: 2.5vh;
        }

        & span {
            font-size: 4vh;
            color: $tertiary-color;

            @include respond(iPhone_SE){
                font-size: 3.5vh;
             }
        }

    }


    &__readyBtn {
        font-size: 3vh;
        color: $secondary-color;
        text-transform: uppercase;
        // width: 50%;
        // height: 10%;
        padding: 1vh 2vh;
        border: 10px solid $secondary-variant;
        border-radius: 40em;
        background-color: $primary-color;
        margin-bottom: 5vh;

        &--readyGreen {
            background-color: $tertiary-color;
        }

    }

    &__startBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 16vw;
        // height: 30vh;
        border: 15px solid $secondary-variant;
        padding: 4vh 5.5vh;
        border-radius: 40em;
        background-color: $primary-color;
        font-size: 10vh;

        & i {
            color: $secondary-color;
        }

        &--readyGreen {
            background-color: $tertiary-color
        }

    }

    &__rightContainer {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2em;
        width: 60vw;
        height: 100vh;

        @include respond(iPhone_SE){
            padding: 22vw 2vw 10vw 2vw;
        }

    }

    &__header {
        margin-top: 2vh;
        margin-bottom: 10vh;
        font-size: 7vh;
        letter-spacing: 2px;
        text-shadow: 0 0 5px $tertiary-color;
        height: 2vh;

        @include respond(iPhone_SE){
            position: absolute;
            margin-left: 0;
            width: 100%;
            text-align: center;
            font-size: 4vh;
        }

    }

    &__userListContainer {
        @include scroll;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        height: 80%;
        overflow: auto;

        @include respond(iPhone_SE){
            padding-top: 2vh;
        }

    }


}

.user {

    &__container {
        display: flex;
        flex-direction: row;
        width: 90%;
        // height: 13%;
        column-gap: 1em;



    }

    &__avatarContainer {

        display: flex;
        justify-content: center;
        align-items: center;
        // width: 16%;
        // height: 9vh;
        padding: 0.1vh 0.1vh;
        border: 10px solid $primary-color;
        border-radius: 50%;
        background-color: $secondary-variant;
        filter: drop-shadow(0px 4px 4px #19083c);

        @include respond(iPhone_SE){
            border: 1vh solid $primary-color;
        }

        &--readyGreen {
            border: 10px solid $tertiary-color;

            @include respond(iPhone_SE){
                border: 1vh solid $tertiary-color;
            }
        }

    }

    &__avatar {
        object-fit: contain;
        height: 7vh;
        // width: 100%;

        @include respond(iPhone_SE){
           height: 4vh;
        }
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45vw;
        height: 9vh;
        font-size: 3vh;
        padding: 1vh 2vh;
        border-radius: 2em;
        filter: drop-shadow(0px 4px 4px $primary-color);

        @include respond(iPhone_SE){
            height: 6vh;
        }

        &:hover {
            text-shadow: none;
        }

        & i {
            color: $tertiary-color;
        }

        &--kick {
            background-color: transparent;
            border-radius: 0;
            border: none;
            font-size: 30px;

            @include respond(iPhone_SE){
                font-size: 22px;
            }

            &:hover {
                // note: mobile devices do not have a hover function- only works on desktop
                transform: translateY(-2px);
                text-shadow: 0 0 15px rgba($tertiary-color, 1);
            }

            &:active {
                transform: translateY(1px);
                text-shadow: 0 0 15px rgba($tertiary-color, 1);
            }

            & i {
                
                @include respond(iPhone_SE){
                    font-size: 2vh;
                }

            }

        }
    }




}