.section-lobbies {
    background-color: rgba($secondary-variant, 0.5);
    display: flex;
    
    @include respond(iPhone_SE){
       flex-direction: column
    }

}

.lobby-list {

    &__leftContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2.5rem;
        width: 40vw;
        height: 100vh;

        @include respond(iPhone_SE){
            flex-direction: row;
            align-items: flex-end;
            column-gap: 3vw;
            width: 100%;
            height: 58%;
           
        }

    }

    &__rightContainer {

        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 2em;
        width: 60vw;
        height: 100vh;

        @include respond(iPhone_SE){
            width: 100%;
        }


    }

    &__createContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
        padding: 2vw;
        height: 30vh;
        border: 1vw solid $secondary-variant;
        border-radius: 5vw;
        background-color: $tertiary-color;
        color: $primary-color;
        filter: drop-shadow(0px 4px 8px #19083c);

        @include respond(iPhone_SE){
            width: 45vw;
            height: 25vh;
            border: 2vw solid $secondary-variant;
            border-radius: 14vw;
            // border: 2vw solid $secondary-variant;
        }


    }

    &__refresh {
        right: 15vh
    }

    &__btn {

        // width: 100%;
        // height: 50%;
        padding: 1vh 1vh;
        font-size: 2vh;
        text-transform: uppercase;
        letter-spacing: 2px;

        @include respond(iPhone_SE){
            font-size: 1.2vh;
        }


    }

    &__joinContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
        padding: 2vw;
        height: 30vh;
        border: 1vw solid $tertiary-color;
        border-radius: 5vw;
        background-color: $secondary-color;
        color: $primary-color;
        filter: drop-shadow(0px 4px 8px #19083c);

        @include respond(iPhone_SE){
            width: 45vw;
            height: 25vh;
            border: 2vw solid $tertiary-color;
            border-radius: 14vw;
            // border: 2vw solid $secondary-variant;
        }

    }

    &__header {
        font-size: 6vh;
        letter-spacing: 2px;
        text-shadow: 0 0 10px $tertiary-color;
        margin-left: -55vh;
        margin-bottom: 8vh;
        margin-top: 4vh;
        
        @media screen and (max-width: 690px) {
            font-size: 3.5vh;
            margin-left: -38vh;
            margin-bottom: 3vh;
        }

        @media screen and (max-width: 600px) {
            
            margin-left: 0vh;
            
        }
    }

    &__listContainer {

        display: flex;
        column-gap: 10px;
        justify-content: center;
        // width: 95%;
        height: 80%;

    }

    &__list {
        @include scroll;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-left: 11vw;
        padding-left: 1vw;
        row-gap: 2vh;


    }

    &__roomBtn {

        width: 50vw;
        // height: 100%;
        font-size: 3vh;
        padding: 1.5vh 2vh;
        justify-content: space-between;

        @include respond(iPhone_SE){
            width: 60vw;
        }

        &--name {
            text-align: left;
            letter-spacing: 2px;
            color: $tertiary-color;
        }

        &--info {
            letter-spacing: 3px;
            text-align: right;
            color: $tertiary-color;

            & i {
                color: $tertiary-color;
            }
        }

    }

}


.createLobby {

    &__header {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 4vh;

        @media screen and (max-width: 690px) {
            font-size: 2.5vh;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
    }

    &__input {
        padding-left: 4px;
        background-color: $secondary-variant;
        border-radius: 10px;
        height: 4vh;
        border: 2px solid $primary-color;
        color: $tertiary-color;
        letter-spacing: 2px;

        @include respond(iPhone_SE){
            font-size: 1.5vh;
        }

        &::placeholder {
            color: $tertiary-color
        }
    }

}

.joinLobby {

    &__header {
        color: $tertiary-color;
        font-size: 3vh;
        font-weight: lighter;

        @include respond(iPhone_SE){
            font-size: 2.2vh;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
    }

    &__input {
        padding-left: 4px;
        background-color: $tertiary-color;
        border-radius: 10px;
        height: 4vh;
        border: 2px solid $primary-color;
        color: $primary-color;
        letter-spacing: 2px;

        @include respond(iPhone_SE){
            font-size: 1.5vh;
        }

        &::placeholder {
            color: $primary-color
        }

    }



}