.menuContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    justify-content: center;
    align-self: center;
    left: 20%;
    bottom: 15%;
}

.menuIcons{
    display: flex;
    column-gap: 2vh;
    position: absolute;
    top: 2vh;
    right: 2vh;
    z-index: 40;
}

.menu{
    position: absolute;

    &__skip-btn{
        position: absolute;
        padding-bottom: 13px;
        padding-left: 3px;
        right: 15%;
        bottom: 5%;
        width: 1.2em;
        height: 1.2em;
        border-radius: 2em;
        border-width: 8px;
        font-size: 70px;
        z-index: 100;
    }

    &__spaceship{
        // top: 2em;
        // left: 7em;
        // transform: scale(110%);
        z-index: 40;
        width: 100vw;

        &--animated{
            animation: fadingIn 1s ease 1s backwards;
        }
    }

    &__spaceBeam{
        // left: 12em;
        // top: 4em;
        // transform: scale(120%);
        width: 100vw;

        &--animated{
            // #2 clip-path: polygon(9% 13%, 62% 60%, 100% 95%, 100% 100%, 93% 100%, 4% 15%)
            // #3 clip-path: polygon(9% 13%,62% 30%, 100% 42%, 100% 100%, 63% 100%, 4% 15%);
            // clip-path: polygon(9% 13%, 62% 0%, 100% 0%, 100% 100%, 23% 100%, 4% 15%);
            // #4 clip-path: polygon(9% 13%, 32% 0%, 100% 0%, 100% 100%, 0% 100%, 4% 15%);
            animation: beam 3s ease 2s backwards;
        }
    }

    &__title{
        top: 3rem;
        // left: 7rem;
        width: 100vw;
        transform-origin: top left;

        &--animated{
            animation: popUpCenter 1.5s ease 7s backwards;
        }
    }

    &__alien1{
        bottom: 0px;
        right: 20%;
        // transform: scale(130%);
        z-index: 2;
        // width: 20em;
        height: 50vh;

        &--animated{
            animation: entryBottom--alien1 1s ease 9s backwards;
        }
    }

    &__alien2{
        bottom: 40%;
        right: 0px;
        // height: 40vh
        // transform: scale(130%);

        &--animated{
            animation: entryTop--alien2 2s ease 10s backwards;

        }

        
    }

    &__alienChatter1{
        bottom: 35%;
        right: 17%;
        // transform: scale(130%);
        z-index: 2;

        &--animated{
            animation: alienChatter 2s ease 10s infinite backwards;
        }

        &--skipAnimated{
            animation: alienChatter 2s ease infinite backwards;
        }
    }

    &__alienChatter2{
        bottom: 10%;
        right: 15%;
        // transform: scale(130%);
        z-index: 2;

        &--animated{
            animation: alienChatter 2s ease 10s infinite backwards;
        }

        &--skipAnimated{
            animation: alienChatter 2s ease infinite backwards;
        }
    }

    &__alienChatter3{
        bottom: 8%;
        right: 15%;
        // transform: scale(130%);
        z-index: 2;

        &--animated{
            animation: alienChatter 2s ease 10s infinite backwards;
        }

        &--skipAnimated{
            animation: alienChatter 2s ease infinite backwards;
        }
    }


    &__star1{
        top: 30%;
        left: 12%;
        // transform: scale(120%);

        &--animated{
            animation: pulsate 2s linear 8.5s infinite backwards;
        }

        &--skipAnimated{
            animation: pulsate 2s linear 1s infinite backwards;
        }

    }

    &__star2{
        top: 4%;
        left: 30%;

        &--animated{
            animation: pulsate 2s linear 7.5s infinite backwards;
        }

        &--skipAnimated{
            animation: pulsate 2s linear infinite backwards;
        }
    }

    &__star3{
        top: 6%;
        left: 50%;
        // transform: scale(140%);

        &--animated{
            animation: pulsate 2s linear 9.5s infinite backwards;
        }

        &--skipAnimated{
            animation: pulsate 2s linear 2s infinite backwards;
        }
    }

    &__star4{
        top: 40%;
        left: 40%;
        // transform: scale(140%);

        &--animated{
            animation: pulsate 2s linear 9s infinite backwards;
        }

        &--skipAnimated{
            animation: pulsate 2s linear 1.5s infinite backwards;
        }

    }

}





