.profile{


    &__container{
        margin-left: 25vw;
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        flex-direction: column;
        background-color: $primary-color;
        border: 1rem solid $tertiary-color;
        border-radius: 4rem;
        width: 50vw;
        height: 50vh;
        padding: 1.5em;
        transition: all 0.2s;
        animation: fadingIn ease 0.5s backwards;
        filter: drop-shadow(0px 2px 7px $primary-color);

        @include respond(iPhone_SE){
            margin-left: 15vw;
            border: 0.5rem solid $tertiary-color;
            border-radius: 4rem;
            width: 73vw;
            height: 56vh;
            padding: 1.5em;
        }

        &--updateAvatar{
            flex-direction: column;
        }

        &--top{
            position: relative;
            right: 1rem;
            display: flex;
            height: 100%;
            width: 30vw;

            @include respond(iPhone_SE){
                height: 18vh;
                column-gap: 1vh;
                width: 58vw;
            }

        }

        &--bottom{
            position: relative;
            flex-direction: column;
            margin-left: 13vw;
            bottom: 2vw;
            display: flex;
            row-gap: 1rem;
            width: 30vw;

            @include respond(iPhone_SE){
                margin-top: 2vh;
                margin-left: 0vw;
                display: flex;
                height: 26vh;
                width: 60vw;

            }

        }
    
    }



    &__avatarContainer{

        position: relative;
        display: flex;
        width: 9vw;
        left: 2vw;
        height: 17vh;
        overflow: hidden;
        border: .5rem solid $tertiary-color;
        background-color: #6250AC;
        border-radius: 4rem;

        @include respond(iPhone_SE){
            width: 22vw;
            height: 15vh;
        }

        // @include respond(tab-port){
        //     width: 10vw;
        //     height: 12vh;
        // }

        @include respond(tab-land){
            width: 10vw;
            height: 16vh;
        }

    }

    &__avatar{

        width: 100%;
        height: 100%;
        object-fit: contain;

        // width: 8vw;
        // height: 15vh;
        // object-fit: contain;

        // @include respond(tab-land){
        //     width: 9vw;
        // }

        &-change{

            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 76px;
            background-color: rgba(98, 80, 172, 0.5);
            color: $tertiary-color;
            animation: fadingIn ease .5s backwards;
            
        }

    }

    &__name{

        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $tertiary-color;
        font-size: 2.5rem;
        height: 15vh;
        width: 16vw;
        margin-left: -1vw;

        @include respond(iPhone_SE){
            margin-left: 5vw;
            font-size: 5.5vw;
        }

        @include respond(tab-port){
            height: 10vh;
        }

        &-change{

            display: flex;
            align-items: center;
            color: $tertiary-color;
            font-size: 2vw;
            margin-left: 0.5vw;
            animation: slideFromLeft .5s ease backwards;

            & span{
                font-size: 1.5vw;
                color: $tertiary-color;

                @include respond(iPhone_SE){
                    font-size: 5.5vw;
                }

            }

        }

    }

    &__name-input{
        display: flex;
        align-self: center;
        width: 14vw;
        height: 6vh;
        border-radius: 2vh;
        color: $primary-color;
        background-color: $tertiary-color;
        padding: 1vh;
        font-size: 2vh;
        letter-spacing: 2px;
        margin-left: 5vw;

        @include respond(iPhone_SE){
            width: 30vw
        }
    }

}

.achievement{

    &__header{
        display: flex;
        width: 100%;
        height: 20%;
        font-size: 35px;
        color: $tertiary-color;

    }

    &__container{
        @include scroll;

        &::-webkit-scrollbar {
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $secondary-color ;
            border-radius: 20px;       /* roundness of the scroll thumb */
            border: 2px solid $secondary-color; 
        }

        overflow-x: auto;
        position: relative;
        flex-direction: row;
        display: flex;
        padding: 1rem;
        height: 18vh;
        width: 30vw;
        column-gap: 0.5rem;
        border: 6px solid $tertiary-color;
        border-radius: 2rem;

        @include respond(iPhone_SE){
            width: 60vw;
        }
    }

    &__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__img{
        height: 100%;
        object-fit: contain;

    }

}

.updateAvatar{

    &__header{
        display: flex;
        width: 100vw;
        height: 20vh;
        font-size: 5vh;
        color: $tertiary-color;
        animation: fadingIn ease 1s backwards;

        @include respond(tab-port){

            width: 37vw;
            font-size: 3vh;
            
        }

        @include respond(iPhone_SE){

            width: 52vw;
            font-size: 4vh;
            height: 6vh;
    
        }

    }

    &__listContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2em;
        width: 44vw;
        height: 30vh;

        @include respond(tab-port){

            display: grid;
            grid-template-areas:'a a'
                                'b b';
            width: 38vw;
            height: 34vh;
    
        }

        @include respond(iPhone_SE){

            display: grid;
            grid-template-areas:'a a'
                                'b b';
            width: 58vw;
            height: 46vh;
    
        }


    }

    &__avatarName{

        width: 8vw;
        font-size: 3vh;
        color: $tertiary-color;

        @include respond(tab-port){
             width: 16vw;
        }

        @include respond(iPhone_SE){
            width: 16vw;
       }

    }

    &__container{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        align-items: center;
        width: 100vw;
        height: 30vh;
        text-align: center;
        animation: fadingIn ease .5s backwards;

        @include respond(tab-port){
            row-gap: 2vh;
            width: 13vw;
            height: 17vh;
    
        }

        @include respond(iPhone_SE){
            row-gap: 2vh;
            width: 22vw;
            height: 20vh;
        }
        
    }

    &__img{
        width: 100%;
        object-fit: contain;
        border-radius: 5em;

        &--green{
            outline: 10px solid #D7FF60;
        }
    }

}


