.section-victory {
    @include absCenter;
    display: flex;
    height: 100%;
    flex-direction: column;
    row-gap: 2em;
    justify-content: center;
}

.victory__container {
    @include absCenter;
    display: flex;
    height: 100%;
    flex-direction: column;
    row-gap: 2em;
    justify-content: center;
}

.winner__header {
    color: $tertiary-color
}

.winner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.leaderboard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}