*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
@media (max-width: 37.5em) {
  body {
    height: 100vh;
  }
}

.heading-primary {
  font-family: "Arial Rounded MT Bold";
  color: #D7FF60;
  margin-bottom: 2em;
  text-align: center;
}
.heading-primary--gameTitle {
  display: block;
  animation: popUpCenter 1s ease 1s;
  animation-fill-mode: backwards;
  text-align: center;
  font-size: 33px;
}
.heading-primary--subTitle {
  display: block;
  animation: popUpCenter 1s ease 0s;
  animation-fill-mode: backwards;
  text-align: center;
  font-size: 20px;
}

@keyframes popUpCenter {
  0% {
    transform: scale(0%);
  }
  80% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes fadingIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes upDownMotion {
  0% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(-1em);
  }
}
.spaceShip_gametitle {
  position: absolute;
  width: 35%;
  height: 40%;
  top: 5em;
  left: 33%;
  animation: fadingIn 2s ease 0.5s, upDownMotion 1.7s ease 2s infinite;
  animation-fill-mode: backwards;
}
@media (max-width: 37.5em) {
  .spaceShip_gametitle {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 2em;
    left: 20%;
    animation: fadingIn 2s ease 0.5s, upDownMotion 1.7s ease 2s infinite;
    animation-fill-mode: backwards;
  }
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 10px;
  text-align: center;
  margin-bottom: 2px;
  text-decoration: none;
  border-radius: 2em;
  transition: all 0.2s;
  box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5em 0 rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.2);
}
.btn--green {
  font-family: "Arial Rounded MT Bold";
  color: #19083c;
  background-color: #D7FF60;
}
.btn--green--auth {
  animation: popUpCenter 1s ease 3s;
  animation-fill-mode: backwards;
}

body {
  background-color: rgb(201, 229, 247);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: rgb(252, 233, 205);
  width: 100%;
}

th {
  background-color: rgb(252, 209, 144);
  border: 1px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(252, 209, 144);
}

.section-main--welcomeScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(../assets/welcomeScreen_bg.png) no-repeat center center fixed;
  background-size: contain;
  background-color: #19083c;
}
@media (max-width: 37.5em) {
  .section-main--welcomeScreen {
    background: url(../assets/welcomeScreen_bg.png) no-repeat center center fixed;
    background-size: 26.6em 47em;
    background-color: #19083c;
  }
}

.auth__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
