@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
.hide {
  display: none !important;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
@media (max-width: 37.5em) {
  body {
    height: 100vh;
  }
}

* {
  font-family: "Fredoka One", cursive, "Arial Rounded MT Bold", "Arial";
  color: beige;
}

.heading-primary {
  color: #D7FF60;
  margin-bottom: 2em;
  text-align: center;
}
.heading-primary--gameTitle {
  display: block;
  animation: popUpCenter 1s ease 1s;
  animation-fill-mode: backwards;
  text-align: center;
  font-size: 33px;
}
.heading-primary--subTitle {
  display: block;
  animation: popUpCenter 1s ease 0s;
  animation-fill-mode: backwards;
  text-align: center;
  font-size: 20px;
}

@keyframes popUpCenter {
  0% {
    transform: scale(0%);
  }
  80% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes fadingIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60%) translateY(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40%) translateY(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes upDownMotion {
  0% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(-1em);
  }
}
@keyframes alienChatter {
  from {
    opacity: 0%;
    transform: scale(130%) translateX(-10%);
  }
  to {
    opacity: 100%;
    transform: scale(130%) translateX(0%);
  }
}
@keyframes revealTopLeftCorner {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes beam {
  0% {
    clip-path: polygon(9% 13%, 9% 13%, 9% 13%, 4% 15%, 4% 15%, 4% 13%);
  }
  33% {
    clip-path: polygon(9% 13%, 62% 55%, 100% 85%, 100% 100%, 80% 100%, 4% 13%);
  }
  66% {
    clip-path: polygon(9% 13%, 62% 30%, 100% 42%, 100% 100%, 43% 100%, 4% 13%);
  }
  100% {
    clip-path: polygon(9% 13%, 32% 0%, 100% 0%, 100% 100%, 0% 100%, 4% 13%);
  }
}
@keyframes entryBottom--alien1 {
  0% {
    transform: scale(130%) translateY(100%);
  }
  100% {
    transform: scale(130%) translateY(0%);
  }
}
@keyframes entryTop--alien2 {
  0% {
    transform: scale(130%) translateY(-140%);
  }
  100% {
    transform: scale(130%) translateY(0%);
  }
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fromCenterToTop {
  from {
    top: 40%;
  }
  to {
    top: 20%;
  }
}
.spaceShip_gametitle {
  position: absolute;
  width: 35%;
  height: 40%;
  top: 5em;
  left: 33%;
  animation: fadingIn 2s ease 0.5s, upDownMotion 1.7s ease 2s infinite;
  animation-fill-mode: backwards;
}
@media (max-width: 37.5em) {
  .spaceShip_gametitle {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 2em;
    left: 20%;
    animation: fadingIn 2s ease 0.5s, upDownMotion 1.7s ease 2s infinite;
    animation-fill-mode: backwards;
  }
}

.btn, .btn:link, .btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 2em;
  transition: all 0.2s;
  box-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.2em 0 rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.2);
}
.btn--green {
  color: #19083c;
  background-color: #D7FF60;
  border: 10px solid #7366BD;
}
.btn--darkPurple {
  background-color: #19083c;
  color: #D7FF60;
  border: 5px solid #7366BD;
  z-index: 50;
}
.btn--darkPurple:hover {
  text-shadow: 0 0 20px #D7FF60;
}
.btn__menu {
  width: 15em;
  height: 2.5em;
}
.btn__menu--animated {
  animation: popUpCenter 1s ease 12s backwards;
}
.btn__auth {
  width: 15em;
  height: 3em;
  font-size: 25px;
  animation: popUpCenter 1s ease 3s backwards;
}

.icon__btn {
  transition: all 0.2s;
  border-radius: 45px;
  box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.2);
}
.icon__btn--animated {
  animation: popUpCenter 1s ease 12s backwards;
}
.icon__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5em 0 rgba(0, 0, 0, 0.2);
}
.icon__btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.2);
}

.btn-success {
  color: black;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 80vw;
  background: linear-gradient(to top, #7366BD, transparent 30%);
}
.carousel__btn {
  position: absolute;
  top: 50%;
  transition: all 0.2s;
  transform: translateY(-50px);
}
.carousel__btn--left {
  top: 50%;
  left: 20%;
  width: 7em;
  height: 7em;
  object-position: contain;
}
.carousel__btn--left:hover {
  transform: translateY(-54px);
}
.carousel__btn--left:active {
  transform: translateY(-52px);
}
.carousel__btn--right {
  top: 50%;
  right: 20%;
  width: 7em;
  height: 7em;
  object-position: contain;
}
.carousel__btn--right:hover {
  transform: translateY(-54px);
}
.carousel__btn--right:active {
  transform: translateY(-52px);
}
.carousel__slideContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel__slide {
  z-index: -1;
  object-fit: contain;
}
.carousel__slide--animated {
  animation: fadingIn 1s ease;
}
.carousel__slideText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #D7FF60;
  font-size: 40px;
}
.carousel__slideText--animated {
  animation: fadingIn 1s ease;
}
.carousel__voteButton {
  position: absolute;
  bottom: 15%;
  left: 40%;
  width: 10em;
  height: 3em;
  font-size: 25px;
  font-weight: bold;
}

.overlay {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  transition: all 0.2s;
}
.overlay--black {
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadingIn 1s ease;
}
.overlay--purple {
  background-color: rgba(98, 80, 172, 0.5);
  background-size: contain;
  z-index: 100;
}
.overlay__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.overlay__container--left {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.overlay__container--right {
  display: flex;
  width: 40%;
}
.overlay__text {
  color: #D7FF60;
  text-align: center;
  width: 15em;
  height: 2.5em;
  font-size: 30px;
}
.overlay__text--fromCenterToTop {
  animation: popUpCenter 2s ease;
}
.overlay__crush {
  object-fit: contain;
  animation: popUpCenter 1s ease 3s backwards;
}

.triviaStart__btn {
  width: 30%;
  height: 10%;
  animation: popUpCenter 1s ease 10s backwards;
}

body {
  background-color: #19083c;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: rgb(252, 233, 205);
  width: 100%;
}

th {
  background-color: rgb(252, 209, 144);
  border: 1px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(252, 209, 144);
}

.timer {
  color: #D7FF60;
  z-index: 50;
}
.timer__trivia {
  font-size: 80px;
  position: absolute;
  bottom: 10%;
  right: 15%;
}
.timer__startTrivia {
  font-size: 30px;
}

.trivia__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trivia__question {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 35em;
  height: 10em;
  border: 0.5em solid #D7FF60;
  border-radius: 2em;
  background-color: #7366BD;
  font-size: 20px;
  color: #D7FF60;
  margin-bottom: 2em;
  text-align: center;
}
.trivia__question--animated {
  animation: popUpCenter 1s ease backwards;
}
.trivia__answerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  width: 40em;
  height: 10em;
}
.trivia__answerContainer--animated {
  animation: popUpCenter 0.8s ease backwards;
}
.trivia__btn {
  width: 100%;
  height: 4em;
  padding: 10px;
  font-family: "Arial Rounded MT Bold";
  font-size: 23px;
}

.exitMenu__icon {
  position: absolute;
  top: 2em;
  right: 17%;
  z-index: 100;
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  /* this can be anything */
  width: 100%;
  /* ...but maintain 1:1 aspect ratio */
  object-fit: contain;
  z-index: 100;
}

.section-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #19083c;
}
.section-main--bg {
  background: url(../assets/others/background-revised.png) no-repeat center center fixed;
  background-size: contain;
  background-color: #19083c;
}
@media (max-width: 37.5em) {
  .section-main--bg {
    background: url(../assets/others/background-revised.png) no-repeat center center fixed;
    background-size: 26.6em 47em;
    background-color: #19083c;
  }
}
.section-main--bg-trivia {
  background: url(../assets/others/background-trivia.png) no-repeat center center fixed;
  background-size: contain;
  background-color: #19083c;
}
@media (max-width: 37.5em) {
  .section-main--bg-trivia {
    background: url(../assets/others/background-trivia.png) no-repeat center center fixed;
    background-size: 26.6em 47em;
    background-color: #19083c;
  }
}

.exitMenu {
  position: absolute;
  margin: 0;
  background-color: rgba(98, 80, 172, 0.8);
  width: 100%;
  height: 100%;
  z-index: 89;
  transition: all 0.2s;
}
.exitMenu__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 20em;
  height: 10em;
  border: 10px solid #D7FF60;
  border-radius: 2em;
  background-color: #7366BD;
  font-size: 30px;
  color: #D7FF60;
  margin-bottom: 1em;
  animation: popUpCenter 1s ease backwards;
}
.exitMenu__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
  width: 40em;
  height: 10em;
}
.exitMenu__btn {
  width: 20em;
  font-size: 20px;
  animation: popUpCenter 1s ease backwards;
}

.players__container {
  position: absolute;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  height: 20vh;
  width: 80vw;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #19083c;
  padding: 20px;
}
.players__btn {
  width: 4em;
  height: 4em;
  transition: all 0.2s;
  object-fit: contain;
}
.players__btn--left {
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
}
.players__btn--left:hover {
  transform: translateY(-4px);
}
.players__btn--left:active {
  transform: translateY(-2px);
}
.players__btn--right {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}
.players__btn--right:hover {
  transform: translateY(-4px);
}
.players__btn--right:active {
  transform: translateY(-2px);
}
.players__listContainer {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}
.players__listContainer--animated {
  animation: fadingIn 1s ease;
}

.client {
  color: #D7FF60;
  display: grid;
  grid-template-rows: 30% 70%;
  font-size: 20px;
}
.client__topBar {
  display: flex;
  column-gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.client__bottomBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client__avatar {
  grid-row-start: 1;
  width: 2em;
  height: 2em;
  border: 2px solid #6250AC;
  border-radius: 20px;
}
.client__avatar--green {
  border: 2px solid #D7FF60;
}
.client__name {
  grid-row-start: 1;
}
.client__vote {
  grid-row-start: 2;
}

.section-introductory {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.introductory__storyContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.introductory__storyContainer--animated {
  animation: fadingIn 1.5s ease;
}
.introductory__storySituation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: #6250AC;
  border: 0.5em solid #D7FF60;
  border-radius: 2em;
  font-size: 30px;
  letter-spacing: 2px;
  color: #D7FF60;
  padding: auto 2em;
  margin-bottom: 1em;
  text-align: center;
}
.introductory__button {
  width: 30%;
  height: 20%;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.lobby__container {
  background-color: rgba(115, 102, 189, 0.5);
  margin: 0 8.5%;
  display: flex;
}
.lobby__backButton {
  position: absolute;
  padding-left: 3px;
  top: 2%;
  left: 13%;
  width: 1.3em;
  height: 1.3em;
  border-radius: 2em;
  border-width: 8px;
  font-size: 65px;
  z-index: 100;
}
.lobby__backButton span {
  transform: rotateZ(180deg);
  color: #D7FF60;
  padding-top: 12px;
}
.lobby__leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100vh;
}
.lobby__code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  width: 20vw;
  height: 20vh;
  border: 15px solid #7366BD;
  border-radius: 5em;
  background-color: #19083c;
  color: #D7FF60;
  font-size: 20px;
  margin-top: 5em;
  margin-bottom: 7em;
}
.lobby__code span {
  font-size: 30px;
  color: #D7FF60;
}
.lobby__startBtn-Header {
  color: #D7FF60;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.lobby__startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16vw;
  height: 30vh;
  border: 15px solid #7366BD;
  border-radius: 40em;
  background-color: #D7FF60;
  font-size: 100px;
}
.lobby__startBtn i {
  color: #7366BD;
}
.lobby__rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  width: 60vw;
  height: 100vh;
}
.lobby__header {
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #D7FF60;
  height: 20px;
}
.lobby__userListContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 95%;
  height: 80%;
}

.user__container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 13%;
  column-gap: 1em;
}
.user__avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 100%;
  border: 10px solid #19083c;
  border-radius: 50%;
}
.user__avatarContainer--readyGreen {
  border: 10px solid #D7FF60;
}
.user__name {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 2em;
}

.section-lobbies {
  background-color: rgba(115, 102, 189, 0.5);
  margin: 0 8.5%;
  display: flex;
}

.lobby-list__leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.5em;
  width: 40vw;
  height: 100vh;
}
.lobby-list__rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  width: 60vw;
  height: 100vh;
}
.lobby-list__createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  width: 25vw;
  height: 30vh;
  border: 15px solid #7366BD;
  border-radius: 5em;
  background-color: #D7FF60;
  color: #19083c;
}
.lobby-list__btn {
  width: 100%;
  height: 50%;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.lobby-list__joinContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  width: 25vw;
  height: 30vh;
  border: 15px solid #D7FF60;
  border-radius: 5em;
  background-color: #6250AC;
  color: #19083c;
}
.lobby-list__header {
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #D7FF60;
  height: 10px;
}
.lobby-list__backButton {
  position: absolute;
  padding-left: 3px;
  top: 2%;
  left: 13%;
  width: 1.3em;
  height: 1.3em;
  border-radius: 2em;
  border-width: 8px;
  font-size: 65px;
  z-index: 100;
}
.lobby-list__backButton span {
  transform: rotateZ(180deg);
  color: #D7FF60;
  padding-top: 12px;
}
.lobby-list__refreshBtn {
  position: absolute;
  padding-bottom: 13px;
  padding-left: 3px;
  right: 13%;
  top: 2%;
  width: 1.2em;
  height: 1.2em;
  border-radius: 2em;
  border-width: 8px;
  font-size: 70px;
  z-index: 100;
}
.lobby-list__listContainer {
  display: flex;
  column-gap: 10px;
  width: 95%;
  height: 80%;
}
.lobby-list__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 1em;
  overflow: auto;
}
.lobby-list__list::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}
.lobby-list__list::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}
.lobby-list__list::-webkit-scrollbar-thumb {
  background-color: #D7FF60;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #D7FF60;
}
.lobby-list__room {
  width: 100%;
  max-height: 20%;
}
.lobby-list__roomBtn {
  width: 100%;
  height: 100%;
  font-size: 30px;
  padding: 10px 20px;
  justify-content: space-between;
}
.lobby-list__roomBtn--name {
  text-align: left;
  letter-spacing: 2px;
  color: #D7FF60;
}
.lobby-list__roomBtn--info {
  letter-spacing: 3px;
  text-align: right;
  color: #D7FF60;
}
.lobby-list__roomBtn--info i {
  color: #D7FF60;
}

.createLobby__header {
  color: #19083c;
  text-transform: uppercase;
  font-size: 32px;
}
.createLobby__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}
.createLobby__input {
  padding-left: 4px;
  background-color: #7366BD;
  border-radius: 10px;
  height: 36px;
  border: 2px solid #19083c;
  color: #D7FF60;
  letter-spacing: 2px;
}
.createLobby__input::placeholder {
  color: #D7FF60;
}

.joinLobby__header {
  color: #D7FF60;
  font-size: 25px;
  font-weight: lighter;
}
.joinLobby__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}
.joinLobby__input {
  padding-left: 4px;
  background-color: #D7FF60;
  border-radius: 10px;
  height: 36px;
  border: 2px solid #19083c;
  color: #19083c;
  letter-spacing: 2px;
}
.joinLobby__input::placeholder {
  color: #19083c;
}

.crush__containerLeft {
  width: 50%;
  height: 100%;
  margin: 0;
}
.crush__containerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0;
}
.crush__containerRight img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.lounge__container {
  display: flex;
  width: 100%;
  height: 90%;
}

.timer__lounge {
  display: flex;
  width: 100%;
  justify-content: center;
}

.menuContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  left: 20%;
  bottom: 15%;
  font-size: 25px;
}

.menuIcons {
  display: flex;
  column-gap: 1em;
  position: absolute;
  top: 2em;
  right: 18%;
  z-index: 40;
}

.menu {
  position: absolute;
}
.menu__skip-btn {
  position: absolute;
  padding-bottom: 13px;
  padding-left: 3px;
  right: 15%;
  bottom: 5%;
  width: 1.2em;
  height: 1.2em;
  border-radius: 2em;
  border-width: 8px;
  font-size: 70px;
  z-index: 100;
}
.menu__spaceship {
  top: 2em;
  left: 7em;
  transform: scale(110%);
  z-index: 40;
}
.menu__spaceship--animated {
  animation: fadingIn 1s ease 1s backwards;
}
.menu__spaceBeam {
  left: 12em;
  top: 4em;
  transform: scale(120%);
}
.menu__spaceBeam--animated {
  animation: beam 3s ease 2s backwards;
}
.menu__title {
  top: 3em;
  left: 5.5em;
  transform-origin: top left;
}
.menu__title--animated {
  animation: popUpCenter 1.5s ease 7s backwards;
}
.menu__alien1 {
  bottom: 0;
  right: 20%;
  transform: scale(130%);
  z-index: 2;
  width: 20em;
  height: 20em;
}
.menu__alien1--animated {
  animation: entryBottom--alien1 1s ease 9s backwards;
}
.menu__alien2 {
  bottom: 40%;
  right: 12.5em;
  transform: scale(130%);
}
.menu__alien2--animated {
  animation: entryTop--alien2 2s ease 10s backwards;
}
.menu__alienChatter1 {
  bottom: 35%;
  right: 17%;
  transform: scale(130%);
  z-index: 2;
}
.menu__alienChatter1--animated {
  animation: alienChatter 2s ease 10s infinite backwards;
}
.menu__alienChatter1--skipAnimated {
  animation: alienChatter 2s ease infinite backwards;
}
.menu__alienChatter2 {
  bottom: 10%;
  right: 15%;
  transform: scale(130%);
  z-index: 2;
}
.menu__alienChatter2--animated {
  animation: alienChatter 2s ease 10s infinite backwards;
}
.menu__alienChatter2--skipAnimated {
  animation: alienChatter 2s ease infinite backwards;
}
.menu__alienChatter3 {
  bottom: 8%;
  right: 15%;
  transform: scale(130%);
  z-index: 2;
}
.menu__alienChatter3--animated {
  animation: alienChatter 2s ease 10s infinite backwards;
}
.menu__alienChatter3--skipAnimated {
  animation: alienChatter 2s ease infinite backwards;
}
.menu__star1 {
  top: 15em;
  left: 8em;
  transform: scale(120%);
}
.menu__star1--animated {
  animation: pulsate 2s linear 8.5s infinite backwards;
}
.menu__star1--skipAnimated {
  animation: pulsate 2s linear 1s infinite backwards;
}
.menu__star2 {
  top: 2em;
  left: 20em;
}
.menu__star2--animated {
  animation: pulsate 2s linear 7.5s infinite backwards;
}
.menu__star2--skipAnimated {
  animation: pulsate 2s linear infinite backwards;
}
.menu__star3 {
  top: 3em;
  left: 50%;
  transform: scale(140%);
}
.menu__star3--animated {
  animation: pulsate 2s linear 9.5s infinite backwards;
}
.menu__star3--skipAnimated {
  animation: pulsate 2s linear 2s infinite backwards;
}
.menu__star4 {
  top: 40%;
  left: 40%;
  transform: scale(140%);
}
.menu__star4--animated {
  animation: pulsate 2s linear 9s infinite backwards;
}
.menu__star4--skipAnimated {
  animation: pulsate 2s linear 1.5s infinite backwards;
}

.auth__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
