@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
.hide {
  display: none !important;
}

.margin-left-2 {
  margin-left: 2em !important;
}

.animation-fadingIn {
  animation: fadingIn 1s ease backwards;
}

.opacity-0 {
  opacity: 0 !important;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
@media screen and (max-width: 37.5em) {
  body {
    height: 100vh;
  }
}

* {
  font-family: "Fredoka One", "Arial Rounded MT Bold", "Arial";
  color: white;
}

.heading-primary {
  color: #D7FF60;
  margin-bottom: 2em;
  text-align: center;
}
.heading-primary--gameTitle {
  display: block;
  animation: popUpCenter 1s ease 1s;
  animation-fill-mode: backwards;
  text-align: center;
  font-size: 33px;
}
.heading-primary--subTitle {
  display: block;
  animation: popUpCenter 1s ease 0s;
  animation-fill-mode: backwards;
  text-align: center;
  font-size: 20px;
}

@keyframes popUpCenter {
  0% {
    transform: scale(0%);
  }
  80% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes fadingIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes heartMove {
  0% {
    opacity: 100%;
    transform: translateY(-10vh);
  }
  100% {
    opacity: 0%;
    transform: translateY(-50vh);
  }
}
@keyframes scaleUpDown {
  0% {
    transform: scale(100%, 100%);
  }
  50% {
    transform: scale(110%, 110%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60%) translateY(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40%) translateY(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes upDownMotion {
  0% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(-1em);
  }
}
@keyframes alienChatter {
  from {
    opacity: 0%;
    transform: scale(130%) translateX(-10%);
  }
  to {
    opacity: 100%;
    transform: scale(130%) translateX(0%);
  }
}
@keyframes revealTopLeftCorner {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes beam {
  0% {
    clip-path: polygon(9% 13%, 9% 13%, 9% 13%, 4% 15%, 4% 15%, 4% 13%);
  }
  33% {
    clip-path: polygon(9% 13%, 62% 55%, 100% 85%, 100% 100%, 80% 100%, 4% 13%);
  }
  66% {
    clip-path: polygon(9% 13%, 62% 30%, 100% 42%, 100% 100%, 43% 100%, 4% 13%);
  }
  100% {
    clip-path: polygon(9% 13%, 32% 0%, 100% 0%, 100% 100%, 0% 100%, 4% 13%);
  }
}
@keyframes entryBottom--alien1 {
  0% {
    transform: scale(130%) translateY(100%);
  }
  100% {
    transform: scale(130%) translateY(0%);
  }
}
@keyframes entryTop--alien2 {
  0% {
    transform: scale(130%) translateY(-140%);
  }
  100% {
    transform: scale(130%) translateY(0%);
  }
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fromCenterToTop {
  from {
    top: 40%;
  }
  to {
    top: 20%;
  }
}
@keyframes youContainerOpen {
  0% {
    width: 0;
    left: -2%;
  }
  100% {
    width: 90%;
    left: -2%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.spaceShip_gametitle {
  height: 35vh;
  align-self: center;
  display: block;
  margin-top: -1rem;
  animation: fadingIn 2s ease 0.5s, upDownMotion 1.7s ease 2s infinite;
  animation-fill-mode: backwards;
}

.btn, .btn:link, .btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 3rem;
  transition: all 0.2s, left;
  filter: drop-shadow(0px 3px 4px #19083c);
}
.btn:hover {
  transform: translateY(-3px);
  filter: drop-shadow(0px 5px 4px #19083c);
}
.btn:active {
  transform: translateY(1px);
  filter: drop-shadow(0px 5px 4px #19083c);
}
.btn--green {
  color: #19083c;
  background-color: #D7FF60;
  border: 0.6rem solid #7366BD;
}
.btn--darkPurple {
  background-color: #19083c;
  color: #D7FF60;
  border: 0.4rem solid #7366BD;
  z-index: 50;
}
.btn--darkPurple:hover {
  text-shadow: 0 0 20px #D7FF60;
}
.btn__menu {
  padding: 2vh 15vh;
  font-size: 4vh;
}
@media screen and (max-width: 37.5em) {
  .btn__menu {
    font-size: 3vh;
    padding: 3vh 10vh;
    height: 9vh;
  }
}
.btn__menu--animated {
  animation: popUpCenter 1s ease 12s backwards;
}
.btn__auth {
  font-size: 3vh;
  animation: popUpCenter 1s ease 3s backwards;
  padding: 2vh 15vh;
}
.btn__back {
  position: absolute;
  top: 3vh .btn__back span;
  top-transform: rotateZ(180deg);
  top-color: #D7FF60;
  top-padding-top: 12px;
}
.btn__refresh {
  position: absolute;
  padding-bottom: 13px;
  padding-left: 3px;
  right: 13%;
  top: 2%;
  width: 1.2em;
  height: 1.2em;
  border-radius: 2em;
  border-width: 8px;
  font-size: 70px;
  z-index: 80;
}
.btn__settings {
  top: 2vh;
  position: absolute;
  z-index: 199;
}

.icon__btn {
  transition: all 0.2s;
  height: 11vh;
  filter: drop-shadow(0px 4px 4px #19083c);
}
.icon__btn__back {
  position: absolute;
  left: 2vh;
  top: 2vh;
  z-index: 190;
}
.icon__btn__refresh {
  position: absolute;
  right: 2vh;
  top: 2vh;
  z-index: 190;
}
@media screen and (max-width: 37.5em) {
  .icon__btn {
    height: 8vh;
  }
}
.icon__btn--animated {
  animation: popUpCenter 1s ease 12s backwards;
}
.icon__btn:hover {
  transform: translateY(-3px);
  filter: drop-shadow(0px 7px 4px #19083c);
}
.icon__btn:active {
  transform: translateY(1px);
  filter: drop-shadow(0px 4px 4px #19083c);
}

.btn-success {
  color: black;
}

.section-crushes {
  display: flex;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all;
}
.carousel--moveRight {
  animation: slideFromLeft 1s ease backwards;
}
.carousel--moveBack {
  animation: slideFromRight 1s ease backwards;
}
.carousel__btn {
  position: absolute;
  top: 50%;
  transition: all 0.2s;
  transform: translateY(-50px);
}
.carousel__btn--left {
  top: 50%;
  left: 20%;
  filter: drop-shadow(0px 4px 4px #19083c);
  object-position: contain;
}
.carousel__btn--left:hover {
  transform: translateY(-54px);
}
.carousel__btn--left:active {
  transform: translateY(-52px);
}
.carousel__btn--left-move {
  top: 50%;
}
.carousel__btn--left-move:hover {
  transform: translateY(-54px);
}
.carousel__btn--left-move:active {
  transform: translateY(-52px);
}
.carousel__btn--right {
  top: 50%;
  right: 20%;
  filter: drop-shadow(0px 4px 4px #19083c);
}
.carousel__btn--right:hover {
  transform: translateY(-54px);
}
.carousel__btn--right:active {
  transform: translateY(-52px);
}
.carousel__btn--right-move {
  top: 50%;
  right: 10%;
  transition: all;
}
.carousel__btn--right-move:hover {
  transform: translateY(-54px);
}
.carousel__btn--right-move:active {
  transform: translateY(-52px);
}
.carousel__slideContainer {
  width: 90%;
  height: 100%;
}
.carousel__slide {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85%;
  object-fit: contain;
  filter: drop-shadow(0px 0px 6px #19083c);
}
.carousel__slide--original {
  transform: translate(-50%, -35%);
}
.carousel__slide--animated {
  animation: fadingIn 1s ease;
}
.carousel__slide--move {
  transform: translate(-55%, -35%);
}
.carousel__slideText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  bottom: 1em;
  top: 5%;
  left: 40%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 1em;
  border: 4px solid #D7FF60;
  background-color: #19083c;
  color: #D7FF60;
  text-align: center;
  font-size: 25px;
  flex-shrink: 0;
  transition: all 0.2s;
}
.carousel__slideText--original {
  width: 20%;
}
.carousel__slideText--move {
  width: 50%;
  left: 20%;
}
.carousel__slideText--animated {
  animation: fadingIn 1s ease;
}
.carousel__slideText--idle {
  animation: scaleUpDown 1s ease infinite;
}
.carousel__slideText--open {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform: scaleX(150%);
}
.carousel__voteButton {
  position: absolute;
  bottom: 15%;
  width: 10em;
  height: 3em;
  font-size: 25px;
  font-weight: bold;
  transition: all;
}
.carousel__voteButton--original {
  left: 40%;
}
.carousel__voteButton--move {
  left: 20%;
}

.crush__dialogueContainer {
  position: absolute;
  display: flex;
  bottom: 20%;
  perspective: 5em;
  transform-origin: top left;
  animation: popUpCenter 1s ease 1s backwards;
}
.crush__dialogueContainer--victory {
  width: 30em;
  height: 12em;
  left: 50%;
}
.crush__dialogueContainer--moveRight {
  width: 25em;
  height: 10em;
  left: 40%;
}
.crush__dialogueContainer--moveBack {
  width: 25em;
  height: 10em;
  left: 50%;
}
.crush__dialogue {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-44%) rotate(-2deg) rotateY(2deg);
  background-color: #19083c;
  border-radius: 10px;
  color: #19083c;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  letter-spacing: 2px;
  font-size: 30px;
}
.crush__dialogue::before, .crush__dialogue::after {
  position: absolute;
  content: "";
  z-index: -1;
}
.crush__dialogue::before {
  border: solid 0 transparent;
  border-right: solid 3.5em #D7FF60;
  border-bottom: solid 1.3em #19083c;
  top: 0.25em;
  right: 1.3em;
  width: 0;
  height: 1em;
  transform: rotate(40deg) skewX(75deg);
}
.crush__dialogue::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(0.5em, -0.3em) scale(1.02);
  background: #D7FF60;
}
.crush__triviaContainer {
  display: flex;
  flex-direction: column;
  place-self: center;
  width: 120%;
  height: 100%;
  transform: scaleX(0.8);
}
.crush__triviaContainer--top {
  display: flex;
  place-content: center;
  width: 100%;
  height: 100%;
  color: #D7FF60;
  font-size: 15px;
}
.crush__triviaContainer--bottom {
  display: flex;
  place-content: center;
  width: 100%;
  height: 100%;
  color: #D7FF60;
  font-size: 15px;
}

.section-leaderboard--close {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  overflow-x: hidden;
}
.section-leaderboard--open {
  top: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
}
.section-leaderboard--open-votingLounge {
  width: 100%;
}
.section-leaderboard--open-trivia {
  width: 50%;
}
.section-leaderboard--open-victory {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  width: 81vw;
  height: 100vh;
  transition: all 0.5s;
}
.leaderboard__overlay {
  position: absolute;
  width: 83%;
  height: 100%;
  z-index: 20;
  background-color: rgba(98, 80, 172, 0.5);
  animation: fadingIn 1s ease backwards;
}
.leaderboard__container {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 1rem;
  height: 90vh;
  background-color: #19083c;
  border: 7px solid #D7FF60;
  border-radius: 4rem;
  z-index: 50;
}
.leaderboard__container--close {
  width: 27%;
  padding: 1em 0em 1em 3em;
  transform: translateX(-180%);
  transition: transform 0.3s linear, width;
}
.leaderboard__container--close:hover {
  transform: translateX(-175%);
}
.leaderboard__container--open {
  box-shadow: 0px 0px 30px 10px #6250AC;
  padding: 2em 2em 2em 0;
  width: 66vw;
  animation: slideFromLeft 1s ease;
}
.leaderboard__container--open-leaderboard {
  animation: none;
}
.leaderboard__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 10vh;
  color: #D7FF60;
  font-size: 2rem;
  text-transform: uppercase;
}
.leaderboard__header i {
  color: #D7FF60;
  padding-right: 10px;
}
.leaderboard__header-text {
  color: #D7FF60;
}
.leaderboard__players {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.leaderboard__players::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  width: 0px;
}
.leaderboard__players--open {
  width: 78vw;
  height: 78vh;
}
.leaderboard__players--close {
  width: 250%;
}
.leaderboard__categories-container {
  display: flex;
  justify-content: center;
  column-gap: 1vw;
  width: 67vw;
  height: 2vw;
}
.leaderboard__category-btn {
  font-size: 2vh;
  background-color: #D7FF60;
  color: #19083c;
  padding: 1vh;
}
.leaderboard__currentPlayer-container {
  width: 78vw;
  overflow-x: hidden;
  height: 8vh;
}

.leaderboard-player__container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  column-gap: 1vw;
  height: 6vh;
}
.leaderboard-player__container--moveUp {
  z-index: 100;
  animation: moveUp 1s ease backwards;
}
.leaderboard-player__container--moveDown {
  z-index: 100;
  animation: moveDown 1s ease backwards;
}
.leaderboard-player__position {
  font-size: 1.5rem;
  color: #D7FF60;
  width: 3vw;
  margin-left: 0.5em;
  z-index: 1;
}
.leaderboard-player__avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #7366BD;
  border-radius: 4rem;
  background-color: #7366BD;
  z-index: 1;
}
.leaderboard-player__avatarContainer--open {
  width: 4vh;
  height: 4vh;
  margin-left: 0.5vw;
}
.leaderboard-player__avatarContainer--close {
  width: 35%;
  height: 85%;
}
.leaderboard-player__avatarContainer--green {
  border: 4px solid #D7FF60;
}
.leaderboard-player__avatar {
  width: 4vh;
  height: 4vh;
  object-fit: contain;
}
.leaderboard-player__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52vw;
}
.leaderboard-player__info-match {
  z-index: 1;
  width: 18vw;
}
.leaderboard-player__youContainer {
  position: absolute;
  height: 6vh;
  z-index: -30;
}
.leaderboard-player__youContainer--open {
  width: 68vw;
  left: -2vw;
}
.leaderboard-player__youContainer--open-match {
  width: 27vw;
  z-index: 0;
  left: 0;
}
.leaderboard-player__youContainer--close {
  width: 4em;
  left: 1em;
  animation: fadeFromLeft 0.5s backwards;
}
.leaderboard-player__you {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 3em;
  border: 3px solid #D7FF60;
  border-right: transparent;
  background-color: black;
  color: #D7FF60;
  letter-spacing: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.leaderboard-player__you::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 3em;
  border-top: 21px solid #D7FF60;
  border-bottom: 25px solid #D7FF60;
  border-right: 24px solid transparent;
  border-left: 10px solid transparent;
  z-index: -32;
}
.leaderboard-player__you::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 2.5em;
  border-top: 20px solid black;
  border-bottom: 19.5px solid black;
  border-right: 22px solid transparent;
  border-left: 10px solid transparent;
  z-index: -31;
}
.leaderboard-player__youText {
  color: #D7FF60;
}
.leaderboard-player__subCategory-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1vw;
  margin: 0 1vw;
}
.leaderboard-player__subCategory-container--leaderboard {
  width: 30vw;
  grid-template-columns: 1fr 1fr;
}

.leaderboard-info__name {
  text-align: left;
  letter-spacing: 2px;
  color: #7366BD;
  width: 9vw;
}
.leaderboard-info__name--green {
  color: #D7FF60;
}
.leaderboard-info__note {
  text-align: right;
  letter-spacing: 2px;
  color: #7366BD;
  width: 20vw;
}
.leaderboard-info__note--green {
  color: #D7FF60;
}
.leaderboard-info__category-details {
  display: flex;
  width: 15vw;
  border: 2px solid #6250AC;
  border-radius: 2rem;
  place-self: center;
  padding: 0.2rem;
}
.leaderboard-info__category-details--left {
  width: 20vw;
  color: #D7FF60;
  display: flex;
  place-content: center;
  font-size: 2vh;
}
.leaderboard-info__category-details--right {
  width: 20vw;
  color: #D7FF60;
  display: flex;
  place-content: center;
  font-size: 2vh;
}

.match__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 5vh;
  background-color: #6250AC;
  font-size: 2vh;
  margin: 0 7vw;
  padding: 1vw;
  border-radius: 2rem;
}
.match__crushContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #7366BD;
  border-radius: 4rem;
  background-color: #7366BD;
  width: 4vh;
  height: 4vh;
  margin-left: 0.5vw;
}
.match__crushImg {
  width: 4vh;
  height: 4vh;
  object-fit: contain;
}
.match__hostname {
  width: 7vw;
  margin-left: -2vw;
  color: #19083c;
}
.match__totalScore {
  color: #19083c;
}
.match__totalPlayers {
  color: #19083c;
}
.match__date {
  color: #19083c;
}

.my-match__backBtn {
  left: 4vw;
}
.my-match__container {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-top: 8vh;
  width: 78vw;
  height: 86vh;
  row-gap: 5vh;
  border-radius: 8vh;
  padding: 2vw;
  background-color: #19083c;
  border: 1vh solid #D7FF60;
}
.my-match__container--top {
  display: flex;
  width: 100vw;
  height: 25vh;
}
.my-match__container--top-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
}
.my-match__container--top-right {
  display: flex;
  width: 50vw;
  flex-direction: column;
}
.my-match__container--bottom {
  display: flex;
  width: 100vw;
  height: 80vh;
}
.my-match__container--bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1vh;
  flex-direction: column;
  width: 40vw;
}
.my-match__container--bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1vh;
  flex-direction: column;
  width: 30vw;
}
.my-match__crushContainer {
  width: 9vw;
  height: 17vh;
  border-radius: 4rem;
  background-color: #D7FF60;
}
.my-match__crush-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.my-match__crush-name {
  font-size: 4vh;
  color: #D7FF60;
}
.my-match__room-details-container {
  display: grid;
  grid-template-areas: "a a" "b b";
  background-color: #6250AC;
  margin-top: 1rem;
  width: 40vw;
  border-radius: 2rem;
  padding: 1vw;
}
.my-match__room-details {
  font-size: 1.2rem;
  color: #19083c;
}
.my-match__mini-leaderboard {
  overflow-x: visible;
  width: 27vw;
  height: 46vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  border: 4px solid #D7FF60;
  background-color: #19083c;
}
.my-match__mini-leaderboard-header {
  font-size: 1.5rem;
  color: #D7FF60;
}
.my-match__mini-leaderboard-players {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow-y: scroll;
  width: 30vw;
}
.my-match__mini-leaderboard-players::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  width: 0px;
}

.trivia-category__container {
  display: flex;
  flex-direction: column;
  width: 35vw;
  row-gap: 1vh;
}
.trivia-category__header {
  font-size: 1.5rem;
  color: #D7FF60;
}
.trivia-category__points-container {
  display: flex;
  column-gap: 1vw;
  justify-content: space-between;
  height: 10vh;
}
.trivia-category__info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vh;
  width: 20vw;
  height: 7vh;
  font-size: 1.5rem;
  padding: 1vw;
}
.trivia-category__info--green {
  background-color: #D7FF60;
  color: #19083c;
}
.trivia-category__info--purple {
  background-color: #7366BD;
  color: #19083c;
}

.section-sidebar--close {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  overflow-x: hidden;
}
.section-sidebar--open {
  top: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
}
.section-sidebar--open-votingLounge {
  width: 100%;
}
.section-sidebar--open-trivia {
  width: 50%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.sidebar__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(98, 80, 172, 0.5);
  animation: fadingIn 1s ease;
}
.sidebar__container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  height: 90%;
  background-color: #19083c;
  border: 7px solid #D7FF60;
  border-radius: 40px;
  z-index: 50;
}
.sidebar__container--close {
  width: 27%;
  padding: 1em 0em 1em 3em;
  transform: translateX(-180%);
  transition: transform 0.3s linear, width;
}
.sidebar__container--close:hover {
  transform: translateX(-175%);
}
.sidebar__container--open {
  box-shadow: 0px 0px 30px 10px #6250AC;
  animation: slideFromLeft 1s ease;
  padding: 2em 2em 2em 0;
  width: 80%;
}
.sidebar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  color: #D7FF60;
  font-size: 30px;
  text-transform: uppercase;
}
.sidebar__header i {
  color: #D7FF60;
  padding-right: 10px;
}
.sidebar__header-text {
  color: #D7FF60;
}
.sidebar__players {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.sidebar__players::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  width: 0px;
}
.sidebar__players--open {
  width: 125%;
}
.sidebar__players--close {
  width: 250%;
}

.player__container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  column-gap: 1em;
  width: 100%;
  height: 10%;
}
.player__position {
  position: absolute;
  place-self: center;
  font-size: 30px;
  color: #D7FF60;
  margin-left: 0.5em;
}
.player__avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #7366BD;
  border-radius: 40px;
  background-color: #7366BD;
}
.player__avatarContainer--open {
  width: 7%;
  height: 70%;
  margin-left: 4em;
}
.player__avatarContainer--close {
  width: 35%;
  height: 85%;
}
.player__avatarContainer--green {
  border: 4px solid #D7FF60;
}
.player__avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.player__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
}
.player__youContainer {
  position: absolute;
  height: 3em;
  z-index: -30;
  transition: all 0.2s;
}
.player__youContainer--open {
  width: 0%;
  left: 0%;
  animation: youContainerOpen 1s ease forwards;
}
.player__youContainer--close {
  width: 4em;
  left: 1em;
  animation: fadeFromLeft 0.5s backwards;
}
.player__you {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 3em;
  border: 3px solid #D7FF60;
  border-right: transparent;
  background-color: black;
  color: #D7FF60;
  letter-spacing: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.player__you::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 3em;
  border-top: 23px solid #D7FF60;
  border-bottom: 25px solid #D7FF60;
  border-right: 24px solid transparent;
  border-left: 10px solid transparent;
  z-index: -32;
}
.player__you::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 2.5em;
  border-top: 20px solid black;
  border-bottom: 22px solid black;
  border-right: 22px solid transparent;
  border-left: 10px solid transparent;
  z-index: -31;
}
.player__youText {
  color: #D7FF60;
}

.info__name {
  text-align: left;
  letter-spacing: 2px;
  color: #7366BD;
}
.info__name--green {
  color: #D7FF60;
}
.info__note {
  text-align: right;
  letter-spacing: 2px;
  color: #7366BD;
}
.info__note--green {
  color: #D7FF60;
}

.overlay {
  position: absolute;
  margin: 0;
  height: 100%;
  z-index: 100;
  width: 100%;
  animation: fadingIn 1s ease backwards;
}
.overlay--black {
  background-color: rgba(0, 0, 0, 0.8);
}
.overlay--purple {
  background-color: rgba(98, 80, 172, 0.5);
}
.overlay__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.overlay__container--left {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.overlay__container--right {
  display: flex;
  width: 40%;
}
.overlay__text {
  color: #D7FF60;
  text-align: center;
  width: 15em;
  height: 2.5em;
  font-size: 30px;
}
.overlay__text--fromCenterToTop {
  animation: popUpCenter 2s ease;
}
.overlay__crush {
  object-fit: contain;
  animation: popUpCenter 1s ease 3s backwards;
}

.triviaStart__btn {
  width: 30%;
  height: 10%;
  animation: popUpCenter 1s ease 10s backwards;
}

body {
  background-color: #19083c;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: rgb(252, 233, 205);
  width: 100%;
}

th {
  background-color: rgb(252, 209, 144);
  border: 1px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(252, 209, 144);
}

.timer {
  color: #D7FF60;
  z-index: 50;
}
.timer__trivia {
  font-size: 80px;
  position: absolute;
  bottom: 10%;
  right: 15%;
}
.timer__startTrivia {
  font-size: 30px;
}

.trivia__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trivia__scoreText {
  position: absolute;
  display: flex;
  width: 9em;
  height: 4em;
  justify-content: center;
  align-items: center;
  background-color: #19083c;
  top: 2em;
  left: 50%;
  border: 6px solid #D7FF60;
  border-radius: 20px;
  transform: translateX(-50%);
}
.trivia__question {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 35em;
  height: 8em;
  border: 0.5em solid #D7FF60;
  border-radius: 2em;
  background-color: #7366BD;
  font-size: 20px;
  color: #D7FF60;
  margin-bottom: 2em;
  text-align: center;
  filter: drop-shadow(0px 4px 8px #19083c);
}
.trivia__question--animated {
  animation: popUpCenter 1s ease backwards;
}
.trivia__answerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  width: 40em;
  height: 10em;
}
.trivia__answerContainer--animated {
  animation: popUpCenter 0.8s ease backwards;
}
.trivia__btn {
  width: 100%;
  height: 4em;
  padding: 10px;
  font-family: "Arial Rounded MT Bold";
  font-size: 17px;
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  /* this can be anything */
  width: 100%;
  /* ...but maintain 1:1 aspect ratio */
  object-fit: contain;
  z-index: 100;
}

.exitMenu__icon {
  position: absolute;
  top: 2vh;
  right: 2vh;
  display: flex;
  justify-content: end;
  z-index: 199;
}

.settings__icon {
  position: absolute;
  top: 2vh;
  right: 2vh;
  z-index: 199;
}
.settings__btn {
  width: 40vh;
  font-size: 4vh;
  padding: 2vh;
}
.settings__muteToggle {
  display: flex;
  background: #D7FF60;
  width: 4rem;
  border: 4px solid #19083c;
  height: 4rem;
}
.settings__muteToggle__off {
  background-color: #6250AC;
}
.settings__muteToggle i {
  color: #19083c;
  font-size: 1.8rem;
}
.settings__slidecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vh;
}
.settings__slidecontainer__slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #19083c;
  outline: none;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  filter: drop-shadow(0px 2px 7px #19083c);
}
.settings__slidecontainer__slider:hover {
  opacity: 1;
}
.settings__slidecontainer__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  border-radius: 35%;
  background: #D7FF60;
  cursor: pointer;
}
.settings__slidecontainer__slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #D7FF60;
  cursor: pointer;
}

.section-main {
  height: 100vh;
  overflow: hidden;
  background-color: #19083c;
}
.section-main--bg {
  background: url(../assets/others/background-revised.png) no-repeat center center fixed;
  background-size: cover;
  background-color: #19083c;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.section-main--bg-trivia {
  background: url(../assets/others/background-trivia.png) no-repeat center center fixed;
  background-size: cover;
  background-color: #19083c;
}

.settings {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgba(98, 80, 172, 0.95);
  background-size: cover;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 200;
  transition: all 0.2s;
}
.settings__textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 45vh;
  border: 1rem solid #D7FF60;
  border-radius: 2em;
  background-color: #7366BD;
  font-size: 6vh;
  color: #D7FF60;
  filter: drop-shadow(0px 2px 7px #19083c);
}
.settings__textVolume {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 5vh;
  color: #D7FF60;
  filter: drop-shadow(0px 2px 7px #19083c);
}
.settings__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  border: none;
  font-size: 4vh;
  color: #D7FF60;
  filter: drop-shadow(0px 2px 7px #19083c);
}
.settings__nav {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10vh;
}

.section-introductory {
  position: relative;
  height: 100vh;
}

.introductory__storyContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50%;
}
.introductory__storyContainer--animated {
  animation: fadingIn 1.5s ease;
}
.introductory__storySituation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: #6250AC;
  border: 0.5em solid #D7FF60;
  border-radius: 2em;
  font-size: 30px;
  letter-spacing: 2px;
  color: #D7FF60;
  padding: auto 2em;
  margin-bottom: 1em;
  text-align: center;
}
.introductory__button {
  width: 30%;
  height: 20%;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.lobby__container {
  background-color: rgba(115, 102, 189, 0.5);
  display: flex;
}
.lobby__leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100vh;
}
.lobby__code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  padding: 2vh 2vh;
  border: 15px solid #7366BD;
  border-radius: 5em;
  background-color: #19083c;
  color: #D7FF60;
  font-size: 2vh;
  margin-bottom: 20vh;
  filter: drop-shadow(0px 4px 4px #19083c);
}
.lobby__code span {
  font-size: 3vh;
  color: #D7FF60;
}
.lobby__readyBtn {
  font-size: 3vh;
  color: #6250AC;
  text-transform: uppercase;
  padding: 1vh 2vh;
  border: 10px solid #7366BD;
  border-radius: 40em;
  background-color: #19083c;
  margin-bottom: 5vh;
}
.lobby__readyBtn--readyGreen {
  background-color: #D7FF60;
}
.lobby__startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid #7366BD;
  padding: 4vh 5.5vh;
  border-radius: 40em;
  background-color: #19083c;
  font-size: 10vh;
}
.lobby__startBtn i {
  color: #6250AC;
}
.lobby__startBtn--readyGreen {
  background-color: #D7FF60;
}
.lobby__rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  width: 60vw;
  height: 100vh;
}
.lobby__header {
  margin-top: 2vh;
  margin-bottom: 10vh;
  margin-left: -12vh;
  font-size: 5vh;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #D7FF60;
  height: 2vh;
}
.lobby__userListContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  height: 80%;
  overflow: auto;
}
.lobby__userListContainer::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}
.lobby__userListContainer::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}
.lobby__userListContainer::-webkit-scrollbar-thumb {
  background-color: #D7FF60;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #D7FF60;
}

.user__container {
  display: flex;
  flex-direction: row;
  width: 90%;
  column-gap: 1em;
}
.user__avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1vh 0.1vh;
  border: 10px solid #19083c;
  border-radius: 50%;
  background-color: #7366BD;
  filter: drop-shadow(0px 4px 4px #19083c);
}
.user__avatarContainer--readyGreen {
  border: 10px solid #D7FF60;
}
.user__avatar {
  object-fit: contain;
  height: 7vh;
}
.user__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  height: 9vh;
  font-size: 3vh;
  padding: 1vh 2vh;
  border-radius: 2em;
  filter: drop-shadow(0px 4px 4px #19083c);
}
.user__name:hover {
  text-shadow: none;
}
.user__name i {
  color: #D7FF60;
}
.user__name--kick {
  background-color: transparent;
  border-radius: 0;
  border: none;
  font-size: 30px;
}
.user__name--kick:hover {
  transform: translateY(-2px);
  text-shadow: 0 0 15px #d7ff60;
}
.user__name--kick:active {
  transform: translateY(1px);
  text-shadow: 0 0 15px #d7ff60;
}

.section-lobbies {
  background-color: rgba(115, 102, 189, 0.5);
  display: flex;
}

.lobby-list__leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.5em;
  width: 40vw;
  height: 100vh;
}
.lobby-list__rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 100vh;
}
.lobby-list__createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2vh;
  padding: 2vh;
  height: 30vh;
  border: 15px solid #7366BD;
  border-radius: 5em;
  background-color: #D7FF60;
  color: #19083c;
  filter: drop-shadow(0px 4px 8px #19083c);
}
.lobby-list__refresh {
  right: 15vh;
}
.lobby-list__btn {
  width: 100%;
  height: 50%;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.lobby-list__joinContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2vh;
  padding: 2vh;
  height: 30vh;
  border: 15px solid #D7FF60;
  border-radius: 5em;
  background-color: #6250AC;
  color: #19083c;
  filter: drop-shadow(0px 4px 8px #19083c);
}
.lobby-list__header {
  font-size: 6vh;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #D7FF60;
  margin-left: -55vh;
  margin-bottom: 8vh;
  margin-top: 4vh;
}
@media screen and (max-width: 1000px) {
  .lobby-list__header {
    margin-top: 16vh;
    margin-bottom: 4vh;
    margin-left: 0;
  }
}
.lobby-list__listContainer {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  height: 80%;
}
.lobby-list__list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
.lobby-list__list::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}
.lobby-list__list::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}
.lobby-list__list::-webkit-scrollbar-thumb {
  background-color: #D7FF60;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #D7FF60;
}
.lobby-list__roomBtn {
  width: 40vw;
  font-size: 3vh;
  padding: 1vh 2vh;
  justify-content: space-between;
}
.lobby-list__roomBtn--name {
  text-align: left;
  letter-spacing: 2px;
  color: #D7FF60;
}
.lobby-list__roomBtn--info {
  letter-spacing: 3px;
  text-align: right;
  color: #D7FF60;
}
.lobby-list__roomBtn--info i {
  color: #D7FF60;
}

.createLobby__header {
  color: #19083c;
  text-transform: uppercase;
  font-size: 4vh;
}
.createLobby__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
}
.createLobby__input {
  padding-left: 4px;
  background-color: #7366BD;
  border-radius: 10px;
  height: 4vh;
  border: 2px solid #19083c;
  color: #D7FF60;
  letter-spacing: 2px;
}
.createLobby__input::placeholder {
  color: #D7FF60;
}

.joinLobby__header {
  color: #D7FF60;
  font-size: 3vh;
  font-weight: lighter;
}
.joinLobby__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
}
.joinLobby__input {
  padding-left: 4px;
  background-color: #D7FF60;
  border-radius: 10px;
  height: 4vh;
  border: 2px solid #19083c;
  color: #19083c;
  letter-spacing: 2px;
}
.joinLobby__input::placeholder {
  color: #19083c;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form__container {
  display: flex;
  align-self: center;
  flex-direction: column;
  row-gap: 5vh;
}
.auth-form__header {
  display: flex;
  align-self: center;
  border: none;
  font-size: 8vh;
  color: #D7FF60;
  filter: drop-shadow(0px 2px 7px #19083c);
  margin-bottom: 2vh;
}
.auth-form__input {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.auth-form__button {
  font-size: 3vh;
  padding: 1vh 8vh;
  margin-top: 2vh;
}
.auth-form__text {
  font-size: 3vh;
  color: #D7FF60;
}

.section-lounge {
  display: flex;
}

.lounge__timerContainer {
  position: absolute;
  display: flex;
  width: 13em;
  height: 6em;
  perspective: 5em;
  transform-origin: top left;
  animation: popUpCenter 1s ease backwards;
}
.lounge__timerContainer--boy {
  left: 60%;
  top: 20%;
}
.lounge__timerContainer--girl {
  top: 31%;
}
.lounge__timerContainer--girl--open {
  left: 7%;
}
.lounge__timerContainer--girl--close {
  left: 31%;
}
.lounge__timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-23%) rotate(-5deg) rotateY(3deg);
  background-color: #19083c;
  border-radius: 10px;
  color: #19083c;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  letter-spacing: 2px;
  font-size: 20px;
}
.lounge__timer::before, .lounge__timer::after {
  position: absolute;
  content: "";
  z-index: -1;
}
.lounge__timer--boy::before {
  border: solid 0 transparent;
  border-right: solid 3.5em #D7FF60;
  border-bottom: solid 1.3em #19083c;
  width: 0;
  height: 1em;
  left: 0.5em;
  right: 1em;
  transform: rotate(-20deg) skewX(77deg);
}
.lounge__timer--girl::before {
  border: solid 0 transparent;
  border-right: solid 3.5em #D7FF60;
  border-bottom: solid 1.3em #19083c;
  width: 0;
  height: 1em;
  right: -0.5em;
  transform: rotate(1deg) skewX(74deg);
}
.lounge__timer::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(0deg) translate(0.5em, -0.3em) scale(1.02);
  background: #D7FF60;
}

.menuContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
  justify-content: center;
  align-self: center;
  left: 20%;
  bottom: 15%;
}

.menuIcons {
  display: flex;
  column-gap: 2vh;
  position: absolute;
  top: 2vh;
  right: 2vh;
  z-index: 40;
}

.menu {
  position: absolute;
}
.menu__skip-btn {
  position: absolute;
  padding-bottom: 13px;
  padding-left: 3px;
  right: 15%;
  bottom: 5%;
  width: 1.2em;
  height: 1.2em;
  border-radius: 2em;
  border-width: 8px;
  font-size: 70px;
  z-index: 100;
}
.menu__spaceship {
  z-index: 40;
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(-4px -3px 10px #19083c);
}
.menu__spaceship--animated {
  animation: fadingIn 1s ease 1s backwards;
}
.menu__spaceBeam {
  width: 100vw;
  height: 100vh;
}
.menu__spaceBeam--animated {
  animation: beam 3s ease 2s backwards;
}
.menu__title {
  top: 3rem;
  width: 100vw;
  transform-origin: top left;
}
@media screen and (max-width: 37.5em) {
  .menu__title {
    height: 79vh;
    width: 121vw;
  }
}
.menu__title--animated {
  animation: popUpCenter 1.5s ease 7s backwards;
}
.menu__alien1 {
  bottom: 0px;
  right: 20%;
  z-index: 2;
  height: 50vh;
  filter: drop-shadow(0px 2px 4px #19083c);
}
@media screen and (max-width: 37.5em) {
  .menu__alien1 {
    height: 42vh;
  }
}
.menu__alien1--animated {
  animation: entryBottom--alien1 1s ease 9s backwards;
}
.menu__alien2 {
  bottom: 40%;
  right: 0px;
  filter: drop-shadow(0px 2px 4px #19083c);
}
@media screen and (max-width: 37.5em) {
  .menu__alien2 {
    width: 50vw;
  }
}
.menu__alien2--animated {
  animation: entryTop--alien2 2s ease 10s backwards;
}
.menu__alienChatter1 {
  bottom: 35%;
  right: 17%;
  z-index: 2;
}
.menu__alienChatter1--animated {
  animation: alienChatter 2s ease 10s infinite backwards;
}
.menu__alienChatter1--skipAnimated {
  animation: alienChatter 2s ease infinite backwards;
}
.menu__alienChatter2 {
  bottom: 10%;
  right: 15%;
  z-index: 2;
}
.menu__alienChatter2--animated {
  animation: alienChatter 2s ease 10s infinite backwards;
}
.menu__alienChatter2--skipAnimated {
  animation: alienChatter 2s ease infinite backwards;
}
.menu__alienChatter3 {
  bottom: 8%;
  right: 15%;
  z-index: 2;
}
.menu__alienChatter3--animated {
  animation: alienChatter 2s ease 10s infinite backwards;
}
.menu__alienChatter3--skipAnimated {
  animation: alienChatter 2s ease infinite backwards;
}
.menu__star1 {
  top: 30%;
  left: 12%;
}
.menu__star1--animated {
  animation: pulsate 2s linear 8.5s infinite backwards;
}
.menu__star1--skipAnimated {
  animation: pulsate 2s linear 1s infinite backwards;
}
.menu__star2 {
  top: 4%;
  left: 30%;
}
.menu__star2--animated {
  animation: pulsate 2s linear 7.5s infinite backwards;
}
.menu__star2--skipAnimated {
  animation: pulsate 2s linear infinite backwards;
}
.menu__star3 {
  top: 6%;
  left: 50%;
}
.menu__star3--animated {
  animation: pulsate 2s linear 9.5s infinite backwards;
}
.menu__star3--skipAnimated {
  animation: pulsate 2s linear 2s infinite backwards;
}
.menu__star4 {
  top: 40%;
  left: 40%;
}
.menu__star4--animated {
  animation: pulsate 2s linear 9s infinite backwards;
}
.menu__star4--skipAnimated {
  animation: pulsate 2s linear 1.5s infinite backwards;
}

.profile__container {
  margin-left: 25vw;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  flex-direction: column;
  background-color: #19083c;
  border: 1rem solid #D7FF60;
  border-radius: 4rem;
  width: 50vw;
  height: 50vh;
  padding: 1.5em;
  transition: all 0.2s;
  animation: fadingIn ease 0.5s backwards;
  filter: drop-shadow(0px 2px 7px #19083c);
}
@media screen and (max-width: 37.5em) {
  .profile__container {
    margin-left: 15vw;
    border: 0.5rem solid #D7FF60;
    border-radius: 4rem;
    width: 73vw;
    height: 56vh;
    padding: 1.5em;
  }
}
.profile__container--updateAvatar {
  flex-direction: column;
}
.profile__container--top {
  position: relative;
  right: 1rem;
  display: flex;
  height: 100%;
  width: 30vw;
}
@media screen and (max-width: 37.5em) {
  .profile__container--top {
    height: 18vh;
    column-gap: 1vh;
    width: 58vw;
  }
}
.profile__container--bottom {
  position: relative;
  flex-direction: column;
  margin-left: 13vw;
  bottom: 2vw;
  display: flex;
  row-gap: 1rem;
  width: 30vw;
}
@media screen and (max-width: 37.5em) {
  .profile__container--bottom {
    margin-top: 2vh;
    margin-left: 0vw;
    display: flex;
    height: 26vh;
    width: 60vw;
  }
}
.profile__avatarContainer {
  position: relative;
  display: flex;
  width: 9vw;
  left: 2vw;
  height: 17vh;
  overflow: hidden;
  border: 0.5rem solid #D7FF60;
  background-color: #6250AC;
  border-radius: 4rem;
}
@media screen and (max-width: 37.5em) {
  .profile__avatarContainer {
    width: 22vw;
    height: 15vh;
  }
}
@media screen and (max-width: 75em) and (min-width: 56.25em) {
  .profile__avatarContainer {
    width: 10vw;
    height: 16vh;
  }
}
.profile__avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profile__avatar-change {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 76px;
  background-color: rgba(98, 80, 172, 0.5);
  color: #D7FF60;
  animation: fadingIn ease 0.5s backwards;
}
.profile__name {
  display: flex;
  align-items: center;
  color: #D7FF60;
  font-size: 2.5rem;
  height: 15vh;
  width: 16vw;
  margin-left: 5vw;
}
@media screen and (max-width: 37.5em) {
  .profile__name {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 56.25em) and (min-width: 37.5em) {
  .profile__name {
    height: 10vh;
  }
}
.profile__name-change {
  display: flex;
  align-items: center;
  color: #D7FF60;
  font-size: 1.5rem;
  animation: slideFromLeft 0.5s ease backwards;
}
.profile__name-change span {
  font-size: 20px;
  margin-left: 3px;
  color: #D7FF60;
}
.profile__name-input {
  display: flex;
  align-self: center;
  width: 40%;
  height: 50%;
  border-radius: 2em;
  color: #19083c;
  background-color: #D7FF60;
  padding: 0.5em;
  font-size: 20px;
  letter-spacing: 2px;
}

.achievement__header {
  display: flex;
  width: 100%;
  height: 20%;
  font-size: 35px;
  color: #D7FF60;
}
.achievement__container {
  overflow: auto;
  overflow-x: auto;
  position: relative;
  flex-direction: row;
  display: flex;
  padding: 1rem;
  height: 18vh;
  width: 30vw;
  column-gap: 0.5rem;
  border: 6px solid #D7FF60;
  border-radius: 2rem;
}
.achievement__container::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}
.achievement__container::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}
.achievement__container::-webkit-scrollbar-thumb {
  background-color: #D7FF60;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #D7FF60;
}
.achievement__container::-webkit-scrollbar {
  height: 10px;
}
.achievement__container::-webkit-scrollbar-thumb {
  background-color: #6250AC;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #6250AC;
}
@media screen and (max-width: 37.5em) {
  .achievement__container {
    width: 60vw;
  }
}
.achievement__imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.achievement__img {
  height: 100%;
  object-fit: contain;
}

.updateAvatar__header {
  display: flex;
  width: 100%;
  height: 20%;
  font-size: 35px;
  color: #D7FF60;
  animation: fadingIn ease 1s backwards;
}
.updateAvatar__listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  width: 100%;
  height: 80%;
}
.updateAvatar__avatarName {
  width: 100%;
  font-size: 25px;
  color: #D7FF60;
}
.updateAvatar__container {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: fadingIn ease 0.5s backwards;
}
.updateAvatar__img {
  width: 100%;
  object-fit: contain;
  border-radius: 5em;
}
.updateAvatar__img--green {
  outline: 10px solid #D7FF60;
}

.auth__content {
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
  margin-top: 4vh;
  justify-content: center;
  align-self: center;
}

.victory__screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.victory__transition {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 90;
  animation: fadingIn 1s ease backwards;
}
.victory__transition-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  place-content: center;
  width: 30%;
  height: 20%;
  font-size: 30px;
  color: #D7FF60;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}
.victory__transition--fadeOut {
  animation: fadeOut 1s ease forwards;
}
.victory__heart {
  position: absolute;
  bottom: -20vh;
  animation: heartMove 3s linear 1s;
  color: #D7FF60;
}
.victory__return-btn {
  position: absolute;
  z-index: 50;
  width: 10em;
  bottom: 2%;
  left: 2%;
  border-width: 5px;
}

/*# sourceMappingURL=main.css.map */
